@import url("https://fonts.googleapis.com/css?family=Alegreya|B612+Mono|Crimson+Pro|Crimson+Text|IBM+Plex+Serif&display=swap");


:root {
  --mission-bg: #0c1b33;
}
#about .nav-item.active .nav-link {
  font-weight: 600;
  color: #00bdd5;
}
.about-home ul{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 99;
}
.about-home {
  height: 90vh;
  background-color: #0c1b33;
  background-image: url("../img/about-saudi.jpg");
  background-position: top;
  background-size: cover;
  position: relative;
}

.about-home:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to top, #0c1b33 1%, transparent 100%);
}
/* .about-video{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;  
}
.about-video video{   
    position: fixed;
     right: 0; 
     bottom: 0;
    min-width: 100%;
     min-height: 100%;
    width: auto; 
    height: auto;
     z-index: -100;     
    background-size: cover;
} */
.about-overview {
  background-color: #0c1b33;
}
.about-home .about-title {
  z-index: 99;
}
/* .about-home .hero-title{
  color:#b8bdc4;
  font-size: 2.5rem;
  line-height: 1.5;
  z-index: 99;   
 
} */
.about-home .fade-title {
  text-align: left !important;
  /* font-style: italic; */
  color: #00bdd5;
}

.about-home .about-title-right {
  font-size: 3rem;
  text-align: left !important;
  font-style: italic;
  /* font-weight: 600; */
  font-family: "Playfair Display";
  /* letter-spacing: 4px; */
  margin-left: -50px;
  /* margin-bottom: 2px; */
}

.about-title .about-title-left{
  margin-right: 3rem;
}
.about-home .about-title-left-1 {
  font-size: 2.8rem;
  color: #b8bdc4;
  margin-left: 5rem;
  /* font-weight: 600; */
  font-family: "Playfair Display";
  /* letter-spacing: 4px; */
}

.about-home .about-title-left-2 {
  font-size: 2.8rem;
  color: #b8bdc4;
  /* font-weight: 600; */
  font-family: "Playfair Display";
  /* letter-spacing: 4px; */
}
.about-banner-title .banner-title-2 {
  font-style: italic;
  font-size: 2.5rem !important;
}
.about-overview .hero-text {
  font-size: 1.1rem;
  color: #b8bdc4;
  text-align: justify;
  margin-top: 0.6rem;
  z-index: 99;
}

.about-title-left .banner-title-2 {
  /* font-size: 2.5rem; */
  color: #b8bdc4;
}

.about-overview p {
  color: #f9f9f9;
  font-size: 1.2rem;
}

/* page styles */
.mission-vission {
  background-color: var(--mission-bg);
  /* background-color: #eeeef0; */
}
.mission-vission .title-card {
  width: 100%;
  border: none;
  opacity: 1;
}
.mission-vission .card-title {
  font-size: 40px;
  font-weight: 700;
  color: floralwhite;
  text-align: center;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-vission .title-card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mission-vission .title-card-1 {
  background-color: #009efa;
  background-image: url("../img/wave-2.svg");
  background-position: bottom;
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.8);
}
.mission-vission .title-card-2 {
  background-color: #018951;
  background-image: url("../img/wave-6.svg");
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.8);
}

.mission-vission .about-text {
  font-size: 1.2rem;
  /* font-weight: 500; */
  opacity: 0;
  text-align: justify;
}

/* How we Do */
.how-wedo-outer {
  background-color: #0c1b33;
  height: 100vh;
}
.how-wedo-outer .do-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  --border-width: 0%;
}
.how-wedo-outer .we-do-title {
  font-size: 2.5rem;
  color: #b8bdc4 !important;
  /* font-weight: 600; */
  font-family: "Playfair Display";
  /* letter-spacing: 4px; */
}
.how-wedo-outer .do-content:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: var(--border-width);
  height: 3px;
  background-color: #00ffff;
}
.how-wedo-outer .do-content .col {
  display: flex;
  flex-direction: column;
  padding: 0;
  /* text-align: justify; */
}

.how-wedo-outer .do-content .we-do-top .col {
  justify-content: flex-end;
}

.how-wedo-outer .do-content .we-do-bottom .col {
  justify-content: flex-start;
}
.how-wedo-outer .do-content .do-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* opacity: 0; */
  position: relative;
  --circle-color: 0;
}
.how-wedo-outer .we-do-bottom .do-icon::before,
.we-do-top .do-icon::after {
  content: "";
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  width: 20px;
  border: 2px solid #00ffff;
  background-color: #00ffff;
  border-radius: 50%;
  opacity: var(--circle-color);
}
.how-wedo-outer .we-do-bottom .do-icon::before {
  top: -59px;
}
.how-wedo-outer .we-do-top .do-icon::after {
  bottom: -58px;
}
/*  
.how-wedo-outer .do-icon:nth-child(odd)::before{
   
  top: 140px;
}
.how-wedo-outer .do-icon:nth-child(even)::before{
  bottom: 140px;
} */
/* .do-icon:nth-child(3)::before{
  top: -18px;
}
.do-icon:nth-child(4)::before{
  bottom: -30px;
} */
.how-wedo-outer .do-content .do-icon img {
  height: 100px;
  width: 100px;
}

.how-wedo-outer .do-content .do-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #b8bdc4;
  color: hsl(217, 62%, 92%);
}

.how-wedo-outer .do-content .do-text {
  color: #b8bdc4;
  /* padding: 1rem 0;
  margin: 1rem 0; */
  opacity: 0;
}

.how-wedo-outer .do-text p {
  margin-bottom: 0;
  font-size: 1rem;
  color: hsl(217, 62%, 92%);
  /* text-align: justify; */
}
.how-wedo-outer .do-text-2 p {
  padding-left: 9px !important;
}
.how-wedo-outer .do-text-3 p {
  padding-left: 12px !important;
}
/* Todo check it later */
#contactButton {
  display: none;
}


/* =======================================
                Meadia Queries
   ======================================= */
   @media (max-width: 976px){
     
    /* ===== HOw We Do ======*/
    .how-wedo-outer{
      display: none !important;
    }
    
    .sm-how-we-do {
      background-color: #0c1b33;
      height: 100vh;
    }
    .sm-icon img{
      width: 50px;
    }
    .sm-icon .do-title{
      font-size: 1rem;
    }
    .sm-icon .do-text{
      /* font-size: 16px; */
    }
    .sm-icon{
      padding: 0px 2px 20px 50px;
      position: relative;
      /* border: 1px solid; */
    }
    .sm-icon::after{
      content: '';
      width: 15px;
      height: 15px;
      background-color: aquamarine;
      border-radius: 50px;
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
    }
    .sm-icon::before{
      content: '';
      width: 2px;
      height: 100%;
      background-color: aquamarine;
      position: absolute;
      left: 12px;
    }
    .sm-how-we-do .we-do-title{
      color: #b8bdc4;
      font-family: "Playfair Display";
    }
    .sm-how-we-do .do-icon{
      color: #b8bdc4;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
    }
    /* .sm-how-we-do .do-title{
      padding-left: 0.5rem;
    } */
    .sm-how-we-do .do-text{
      text-align: left;
      color: #b8bdc4;
      padding: 0px;
    }
   }
   @media (max-width: 576px){
      
    .about-home .about-title-left-1,
    .about-home .about-title-left-2{
      color: #fff;
      font-size: 1.55rem;
      margin:4px 0 !important;
    }
    .about-home .fade-title{
      /* font-size: 1rem; */
      text-align: center;
      display: flex;
      justify-content: center;
    }
    .about-home .about-title-right {
      text-align: center;
      margin: 0;
      font-size: 1.9rem !important;
      justify-content: center;
      letter-spacing: normal;
      margin-top: 1rem;
    }
    .about-title .about-title-right{
      min-height: 100px;
    }
    .about-overview .hero-text{
      font-size: 16px;
      padding: 0 5px;
      /* text-align: left; */
    }
    .mission-vission .title-card-1{
      box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.5) !important;
    }
    .mission-vission .about-text{
      text-align: left;
      padding: 0 2rem !important;
    }

    /* ===== HOw We Do ======*/
    .how-wedo-outer{
      display: none !important;
    }
    
    .sm-how-we-do {
      background-color: #0c1b33;
      height: 180vh;
    }
    .sm-icon img{
      width: 50px;
    }
    .sm-icon .do-title{
      font-size: 1rem;
    }
    .sm-icon .do-text{
      /* font-size: 16px; */
    }
    .sm-icon{
      padding: 0px 2px 20px 50px;
      position: relative;
      /* border: 1px solid; */
    }
    .sm-icon::after{
      content: '';
      width: 15px;
      height: 15px;
      background-color: aquamarine;
      border-radius: 50px;
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
    }
    .sm-icon::before{
      content: '';
      width: 2px;
      height: 100%;
      background-color: aquamarine;
      position: absolute;
      left: 12px;
    }
    .sm-how-we-do .we-do-title{
      color: #b8bdc4;
      font-family: "Playfair Display";
    }
    .sm-how-we-do .do-icon{
      color: #b8bdc4;
      padding-left: 0;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
    }
    /* .sm-how-we-do .do-title{
      padding-left: 0.5rem;
    } */
    .sm-how-we-do .do-text{
      text-align: left;
      color: #b8bdc4;
      padding: 0px;
    }
   }