:root{
  --mission-bg:'#0c1b33'
}
#about .nav-item .active{
  font-weight: 600;
  color:#00bdd5;
}

.about-home{
  height: 90vh;
  /* background-color: #0c1b33; */
  background-image: url('../img/Banner-1.png');
  background-position: center;
  background-color: #0c1b33;
   position: relative;
} 
/* .about-home:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(12, 26, 50,0.8);
} */
.about-home .hero-title{
  color: #f5f5f5;
  font-size: 3rem;
  line-height: 1.5;
  z-index: 99;
}
.about-home .hero-text{
  font-size: 1.4rem;
  color: #f9f9f9;
  text-align: justify;
  margin-top: 0.6rem;
  z-index: 99;
}
 
 
/* page styles */
.mission-vission{
  background-color:var(--mission-bg);
  /* background-color: #eeeef0; */
}
.mission-vission .title-card{       
    width: 100%;
    border: none;
    opacity: 1;      
  }
  .mission-vission .card-title{
    font-size: 40px;
    font-weight: 700;
    color:floralwhite;
    text-align: center;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mission-vission .title-card .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
  }
  .mission-vission .title-card-1{   
    background-color: #009efa; 
    background-image: url('../img/wave-2.svg');
    background-position: bottom;
    box-shadow: 10px 10px 20px -10px rgba(0, 0, 0,0.8);
  }
  .mission-vission .title-card-2{
  background-color: #018951;
  background-image: url('../img/wave-6.svg');
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0,0.8);
}

.mission-vission .about-text{
      font-size: 1.4rem;
      opacity: 0;
  }

  /* How we Do */
.how-wedo-outer{
  background-color:#0c1b33;
  height: 100vh;  
}
.how-wedo-outer .do-content{
  padding-top: 3rem;
  padding-bottom: 3rem;   
  position: relative;
  --border-width:0%;       
}
.how-wedo-outer .do-content:after{  
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  left: 0;   
  width: var(--border-width);
  height: 3px;
  background-color: #00ffff;     
}
.how-wedo-outer .do-content .col{
  display: flex;
  flex-direction: column;   
  padding: 0;  
  /* text-align: justify; */
}

.how-wedo-outer .do-content .we-do-top .col{
  justify-content: flex-end;
}

.how-wedo-outer .do-content .we-do-bottom .col{
  justify-content: flex-start;
}
.how-wedo-outer .do-content .do-icon{   
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* opacity: 0; */
  position: relative;
  --circle-color:0;   
}
.how-wedo-outer .we-do-bottom .do-icon::before, .we-do-top .do-icon::after{
  content: '';
  position: fixed;
  left: 50%;  
  transform: translateX(-50%);
  height: 20px;
  width: 20px;
  border: 2px solid #00ffff;
  background-color: #00ffff;   
  border-radius: 50%;
  opacity: var(--circle-color);   
}
.how-wedo-outer .we-do-bottom .do-icon::before{
  top: -26px;
}
.how-wedo-outer .we-do-top .do-icon::after{
bottom: -25px;
}
/*  
.how-wedo-outer .do-icon:nth-child(odd)::before{
   
  top: 140px;
}
.how-wedo-outer .do-icon:nth-child(even)::before{
  bottom: 140px;
} */
/* .do-icon:nth-child(3)::before{
  top: -18px;
}
.do-icon:nth-child(4)::before{
  bottom: -30px;
} */
.how-wedo-outer .do-content .do-icon img{
  height: 100px;
  width: 100px;
}

.how-wedo-outer .do-content .do-title{
  font-size: 1.4rem;
  font-weight: 600;   
  color: #b8bdc4;
  color: hsl(217, 62%, 92%);
}

.how-wedo-outer .do-content .do-text{
  color: #b8bdc4;
  /* padding: 1rem 0;
  margin: 1rem 0; */
  opacity: 0;  
}

.how-wedo-outer .do-text p{
  margin-bottom: 0;
  font-size: 1rem;
  color: hsl(217, 62%, 92%);
  text-align: justify;   
}
.how-wedo-outer .do-text-2 p{
padding-left: 9px !important;
}
.how-wedo-outer .do-text-3 p{
  padding-left: 12px !important;
  }
/* Todo check it later */
#contactButton{
  display: none;
}