 
#about .nav-item.active .nav-link {
  font-weight: 600;
  color: #00bdd5;
}
 
.about-home ul{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 99;
}
.about-home {
  height: calc(100vh - var(--navbar-height));
  background-color: #08556b;
  background-image: url("../img/about/about.jpg");
  background-position: top;
  background-size: cover;
  position: relative;
}

.about-home:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to top, #08556b 1%, transparent 100%);
}
 .banner-title-1{
z-index: 99;
 }
.fade-title{
  color: #11C6F7;   
  z-index: 99;
}
.typed-cursor{
  color: #f9f9f9;
}
.about-overview .hero-text {
  font-size: 1.15rem;
  color: #474747;
  font-weight: 600;
  text-align: justify;
  margin-top: 0.6rem;
  z-index: 99;
}

/* .about-title-left .banner-title-2 {
   
  color: #16151F;
} */

.about-overview p {
  color: #474747;
  font-size: 1.2rem;
}
.mission,.vision{
  background-color: #11C6F7;
}
.mission-img img, .vision-img img{
 width: 400px;  
 min-height: 214px;
}
.mission .title-2, .vision .title-2{
  color: #086078;
}

.mission-text, .vision-text{
  font-size: 1.2rem;
  font-weight: 600;
  color: #333333;
  padding-top: 1rem;
}
/* How we Do */
.how-wedo-outer {
  /* background-color: #08556b; */
  background-color: #f9f9f9;
   height: calc(100vh - var(--navbar-height));
}
.how-wedo-outer .do-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  --border-width: 0%;
}
 
.how-wedo-outer .do-content:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: var(--border-width);
  height: 3px;
  background-color: #00bdd5;
}
.how-wedo-outer .do-content .col {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: justify;
}

.how-wedo-outer .do-content .we-do-top .col {
  justify-content: flex-end;
}

.how-wedo-outer .do-content .we-do-bottom .col {
  justify-content: flex-start;
}
.how-wedo-outer .do-content .do-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;   
  position: relative;
  --circle-color: 0;
}
.how-wedo-outer .we-do-bottom .do-icon::before,
.we-do-top .do-icon::after {
  content: "";
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  width: 20px;
  border: 2px solid #00bdd5;
  background-color: #00bdd5;
  border-radius: 50%;
  opacity: var(--circle-color);
}
.how-wedo-outer .we-do-bottom .do-icon::before {
  top: -68px;
}
.how-wedo-outer .we-do-top .do-icon::after {
  bottom: -68px;
}
 
.how-wedo-outer .do-content .do-icon svg {
  height: 100px;
  width: 100px;
}

.how-wedo-outer .do-content .do-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #474747;   
}

.how-wedo-outer .do-content .do-text {
  color: #525252; 
  opacity: 0;
}

.how-wedo-outer .do-text p {
  margin-bottom: 0;
  font-size: 1rem;
  color: #525252;   
}
.how-wedo-outer .do-text-2 p {
  padding-left: 9px !important;
}
.how-wedo-outer .do-text-3 p {
  padding-left: 12px !important;
}
 
   @media (max-width: 576px){
     .about-overview .about-title-left-1,.about-overview .about-title-left-2{
       font-size: 1.4rem;
     }
     .mission-vission .card-title {
       height: 100px;
     }
      .mission-vission .title-card .card-body {
        padding: 0.1rem !important;
      }
      .mission-vission .title-card .card-body {
        margin: 0;
      }
    .about-home .about-title-left-1,
    .about-home .about-title-left-2{
      color: #fff;
      font-size: 1.55rem;
      margin:4px 0 !important;
    }
   
    .about-home .about-title-right {
      text-align: center;
      margin: 0;
      font-size: 1.9rem !important;
      justify-content: center;
      letter-spacing: normal;
      margin-top: 1rem;
    }
    .about-title .about-title-right{
      min-height: 100px;
    }
    .about-overview .hero-text{
      font-size: 16px;
      padding: 0 5px;
      /* text-align: left; */
    }
.mission-img img, .vision-img img{
 width: 360px;
 height: 360px;
}
.mission,.vision{
  background-color:#fff;
}

.mission-text, .vision-text {
  font-size: 1.2rem;
}

    /* ===== HOw We Do ======*/
    .how-wedo-outer{
      display: none !important;
    }
    
    .sm-how-we-do {
      background-color: #0c1b33; 
  height: calc(100vh - var(--navbar-height));
  overflow-x: hidden;
    }
    .sm-icon img{
      width: 50px;
    }
    .sm-icon .do-title{
      font-size: 1rem;
    }
 
    .sm-icon{      
      position: relative;      
    }
 
  
    .sm-how-we-do .do-icon{
      color: #98b6e7;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    /* .sm-how-we-do .do-title{
      padding-left: 0.5rem;
    } */
    .sm-how-we-do .do-text{
      text-align: justify;
      color: #b5caee;
      padding: 0px;
    }
    .sm-how-we-do .do-text p{
      font-size: 0.9rem;
      margin: 0;
    }
     .sm-how-we-do .do-title{
      font-size: 0.7rem;
      margin: 0;
    }

    .how-wedo-line{
      position: relative;
    }
    .how-wedo-line::before{
      position: absolute;
      content: '';
      width: 1.5px;
      height: var(--line-height);
      background-color: #00bdd5;
      left: 56px;
    }
    .sm-how-we-do .do-icon{
      position: relative;
    }
    .sm-how-we-do .do-icon::before{
      position: absolute;
      content: '';
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: #00bdd5;
      top: 50%;
      transform: translateY(-50%);
      right: -16.9px;
      opacity: var(--circle-sm-opacity);
    }
   }