.footer {
  background-color: #ffffff;          
}
.footer ul{
  margin: 0;
}
.footer ul li{
  list-style-type: none;
}
 .footer .footer-block-1{
  padding: 1rem 0 0 0;
 }
 
.footer-contact{
  flex: 2 1  auto;
  padding: 0;
  justify-content: center;
}
.footer-social{
  flex: 1 1 auto;
  padding: 0;
  justify-content: flex-end;
}
.footer-copyright{
  flex: 1 1 100%;
  padding:1rem 0 0.2rem 0;
}
.footer a,
.footer p {
  font-size: 1rem;
  color: #4b545c;   
  text-decoration: none;
  margin-bottom: 0;
}
/* footer privacy, terms&Conditions and sitemap links */
.footer .footer-privacy {
  display: flex;  
  padding: 0;
}
.footer .footer-privacy li{  
  margin: 0 0.8rem;  
}
.footer .footer-privacy li a{
font-size: 0.9rem;
color: #687687;
}

/* footer contact */
.f-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.f-link .fas {
  display: flex;
  justify-content: center;
  align-items: center;   
}
.f-link .fa-phone-square-alt{
  margin-right: 2px;
}
.f-link:hover .fas {
  color: #00bdd5;   
}
.f-link a:hover {
  color: #00bdd5;
  font-weight: 600; 
  animation: footerinfo 0.3s ease-in-out alternate;
}
@keyframes footerinfo {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(4px);
  }
}

/* Footer social media */ 
.footer .footer-social a {   
  margin: 0 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in; 
  height: 30px;
  width: 30px;
  border-radius: 0.3rem;
}
.footer .footer-social a:hover .fab {
  animation: socialicon 0.4s ease-in-out alternate;
} 
@keyframes socialicon {
  0% {
    transform: translateY(0px) scale(0.8);
  }
  100% {
    transform: translateY(0px) scale(1.5);
  }
}
 
.footer .footer-social .fa-facebook-f:hover {
  color: #4267b2;
}
.footer .footer-social .fa-twitter:hover {
  color: #1da1f2;
}
.footer .footer-social .fa-instagram:hover {
  color: #c13584;
}

.footer .footer-social .fa-linkedin-in:hover {
  color: #2867b2;
}
.footer .icon-facebook:hover {
  background-color: rgba(66, 103, 178, 0.1);
}
.footer .icon-twitter:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.footer .icon-instagram:hover {
  background-color: rgba(193, 53, 132, 0.1);
}
.footer .icon-linkedin:hover {
  background-color: rgba(40, 103, 178, 0.1);
}

/* copyright statement */
.footer .footer-copyright {   
  text-align: center;
  font-size: 0.9rem;
  color: #868686; 
}


@media(max-width:1100px){
 .footer .footer-block-1{
  padding: 1rem 0 0 0;
 }
.footer .footer-privacy{
 order: 3;
 width: 50%;
 justify-content: center;
 padding: 1rem 0 0.5rem 0;
 /* flex-shrink: 0;   */
}
.footer-contact{
  order: 1;
flex-shrink: 0;
justify-content: flex-start;
 
}
.footer-social{
  order: 2;
  flex-shrink: 0;  
  justify-content: flex-end;
}
.footer-copyright{
  order: 4;
  flex-basis: 50%;
}
}


@media(max-width:735px){
.footer-contact{
  order: 1; 
  justify-content: center;  
}
.footer-contact .f-link{
  margin: 0 1rem;
}
.footer-social{   
  order: 3;
  padding-top: 1rem;
  justify-content: center;
}
.footer-privacy{
  order: 2;
  flex-basis: 60%;   
}
.footer-copyright{
  padding-top: 0;
}
}
@media (max-width: 612px) {
  
  .footer-contact {
  flex-basis: 100%;   
  order: 1; 
  flex-direction: column;
  }
  .footer-social{
    flex-basis: 100%;
    order: 2;
    padding-top: 0.5rem;
  }
  .footer .footer-privacy{
    flex-basis: 100%;
    order: 3;
    padding: 0.5rem;
  }
  .footer-copyright{
    flex-basis: 100%;
    order: 4;
  }
  .footer-contact .f-link {
    padding: 4px 0;
    
  }
  .footer .footer-privacy li {
    margin: 0 0.5rem;
}
.f-link .fa-map-marker-alt{
  margin-right: 4px;
}
/* chat bot position */
 .bot {     
    bottom: 130px;
  }
  
}
