@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
:root{
  --bgColor:#121619;  
}
body{
  font-family: 'Montserrat', sans-serif;
} 
.wrapper{
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.logo{
  max-width: 160px;
}

/* Nav Bar */
/* new navbar */

#nav {
  position:relative;
  /* width:620px; */
  margin:0 auto;
  padding:10px;
}

ul#navigation li {
  display:inline;
  font-size:12px;
  font-weight:bold;
  margin:0;
  padding:0;
  float:left;
  position:relative;

}
ul{
margin: 0 auto;
}

ul#navigation li a {
  padding:10px 25px;
  color:#616161;
  text-decoration:none;
  display:inline-block;   
}

ul#navigation li a:hover {

  color:#121619;
}

ul#navigation li a.first {
  border-left: 0 none;
}

ul#navigation li a.last {
  border-right: 0 none;
}
/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
/*these 2 styles are very important,
being the ones which make the drop-down to appear on hover */
  visibility:visible;
  opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
  list-style: none;
  margin: 0;
  padding: 0;
/*the next 2 styles are very important,
being the ones which make the drop-down to stay hidden */
  visibility:hidden;
  opacity:0;
  position: absolute;
  z-index: 99999;
  width:180px;
  background:#f8f8f8;
  box-shadow:1px 1px 3px #ccc;
/* css3 transitions for smooth hover effect */   
}

ul#navigation ul {
  top: 38px;
  left: 1px;
}

ul#navigation ul li ul {
  top: 0;
  left: 181px; /* strong related to width:180px; from above */
}

ul#navigation ul li {
  clear:both;
  width:100%;
  border:0 none;
  border-bottom:1px solid #c9c9c9;
}

ul#navigation ul li a {
  background:none;
  padding:7px 15px;
  color:#616161;
  text-decoration:none;
  display:inline-block;
  border:0 none;
  float:left;
  clear:both;
  width:200px;
}
.navbar,#navigation{
  background: transparent !important;   
} 

/* New navbar end */


/* Nav Bar End */

/* === Home page === */
.home{
  height: 100vh; 
  position: relative; 
  background-color: #000;
}

.home-titles{
height: 80vh; 
position: relative; 
z-index: 99;
}

.home .title{
  display: none;
  opacity: 0;
  margin: auto 4rem;
  color: #f4f4f4;
}

.home .title-text{
  font-size: 2.4rem;
}

.home .title-info{
  /* padding: 1rem 0; */
  font-size: 1.4rem;
  color: #f6f6f6;
}

.no-js .title-1{
  display:initial;
  opacity: 1;
}

/* social links */
.home .social-links{
  padding: 0;
  margin: 0;
  position: absolute;
  left: 10px;
  bottom: 0;
  margin-left: 10px;      
}      

.home .social-links li{
  list-style-type: none;
  margin: 10px 0;
  display: flex;
  justify-content: center;    
}
.home .social-links li .fab{
  color: #fff;
}
/* end - social links */

.home-shape{
  height: 80vh;
  position: relative;      
}

.shape-outer{
  height: 400px;
  width: 400px;        
   position: absolute;;
  overflow: hidden;
  background-color: transparent;
}
.home .progress > svg {
  height: 100%;
  display: block;
}
 /* end home  */


 /* services */
/* Horizontal scroll container */
#masterContainer,#introContainer{
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-perspective: 1000;
  perspective: 1000;
  height: 100vh;     
  background-color: #000 !important;
  position: relative;
}

#slidesContainer,#introSlides {
  width: 400%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
}

.slide {
  height: 100%;
  width: 100%;
  background-color: transparent;   
  position: relative;
}

.bg-title {
  font-size: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Monoton', cursive;
  opacity: 0.2;
  width: 100%;
  text-align: center;
  color:#000;   
}
.service-bg-title,.intro-bg-title{
  color: #fff;
  opacity: 0.1;
}
/* end scroll container */

.services .title-card,.company-intro .title-card{
  height:100%;
  width: 100%;
  border: none;
  opacity: 1;  
}
.services .title-card .card-body{
  position: relative;
}
.services .title-card .card-body img{
position: absolute;
left: 40%;
bottom:10px;
width: 60px;
}
.services .title-card-1{   
  background-color: #009efa;
  background-image: url('../img/wave-2.svg');
}
.services .title-card-2{   
  background-color: #00C9A7;
  background-image: url('../img/wave-6.svg');
}
.services .title-card-3{
  background-color: #09814A;
  background-image: url('../img/wave-13.svg');
}
.services .title-card-4{
  background-color: #00C9A7;
  background-image: url('../img/wave-6.svg');
}

.services .title-card .card-body,.company-intro .card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 20px -10px rgba(255,255,255,0.2);
}
.services .title-card .card-title{
  font-size: 2rem;
  font-weight: 700;
  color:floralwhite;
  text-align: center;
}
.services .service-cards .service-title{
/* font-size: 1.4rem; */
font-weight: 600;
color:#222;
text-align: center;
}
.service-cards .card{
  border: none;
  background-color: transparent;
  transition: all .2s ease-in;
  min-height: 175px;
}

.service-cards .card-body{
background-color: #fafafa;
margin: 0.8rem;
padding: 1rem;
box-shadow: 8px 8px 20px -18px #00C9A7,0 0 10px 0.1px #bbb;
border-radius: 0.4rem;
}
.service-card-content{
  display: none;  
  transition: all .2s ease-in;
}
.service-cards .card:hover .service-card-content{
  display: block;
  /* margin-left: 1rem; */
  transition: all .2s ease-in;
}
.service-cards .card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 /* end services */

/* industries */
#industryContainer{
  height: 100vh;
position: relative;
}
.industry-letter{
  font-size: 3rem;
  text-align: right;
  font-family: 'Monoton', cursive;
}
.industry-body{
  display: flex;
  flex-direction: column;
}
.industry:hover .industry-letter,.industry.active .industry-letter{
  color: #fff;   
}
.industry{
  padding:0;
}
.industry .industry-title{
  color: #111;
}
.industry:hover .industry-title,.industry.active .industry-title{
  color: #fff;   
}
.industry.active{
  box-shadow: 14px 14px 35px -8px rgba(0, 0, 0,0.1);
  border: 1px solid #02A9EA;
  background-color: #02A9EA;
  color: #fff;
}
.industry-col-2{
  align-self: center;
}
/* industry card border */
.line,.line-2 {
  position: absolute;
  box-sizing: border-box;             
  background-color: #02A9EA;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.industry .line,.line-2 {
  position: absolute;
  box-sizing: border-box;             
  background-color: #fff;
  display: inline-block;
}
 .top-line{
  height: 2px;
  top: 3px;
  left: 3px;  
}
.right-line{ 
  right: 3px;
  top: 3px;                         
  width: 2.5px;   
}
.bottom-line{
  bottom: 3px;
  right: 3px;
  height: 2.5px;   
}
.left-line{
  left: 3px;
  bottom: 3px;
  width: 2px;
}
.ind-content{
  display: none;
  padding-left:3rem;
}
.ind-content h2{
  font-size: 2.2rem;
  color: #02A9EA;
  font-weight: 600;
}
.ind-content p{
  font-size: 1.3rem;
  color: #111;
}
.ind-content.active{
  display: block;
} 
#industryOuter .col-12{
  padding: 5px;
   
}
/* end - industries */
 



 /* company - intro  */
 /* horizontal scroll */
 /* Horizontal scroll container */
#introSlides {
  width: 300%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
}
/* end horizontal scroll */
 .company-intro .title-card-1{
   background-color: #0090C8;
   background-image: url('../img/wave-2.svg');
 }
 .company-intro .title-card-2{
  background-color: #018951;
  background-image: url('../img/wave-13.svg');
}

.testimonials .test-card{
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin:1rem 0.6rem;
  box-shadow: 5px 5px 20px -8px #f1f1f1;
}
.testimonials .test-name{
  text-align: right;
  margin: 0;
}
#introContainer .card-title{
  font-size: 45px;
  font-weight: 700;
  color:#fffaf0;
  text-align: center;
}
.company-intro h4{
font-size: 2.2rem;
font-weight: 600;
color: #fffaf0;
}
.intro-content p{
  font-size: 1.4rem;
  color: #ddd;
}
.c-val-caption{
  font-size: 0.7rem;
}
.c-val-title{
  font-size: 1.2rem;
  color: #000;
}

 /* end - company -intro */

/* Careers banner */
.careers-banner{
height: 100vh;
background-image: url('../img/team.jpg');
background-position: center;
background-attachment: fixed;
background-size: cover;
position: relative;
color: #fff; 
overflow: hidden;


}

.overlay {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 58.8%;
  height: 100%;
  background-color: rgba(0, 144, 166,0.75);
  /* background-color: hsla(189, 16%, 24%, 0.749); */

  transform: skew(200.25deg);
  left: -128px;
}
.overlay-2{
  position: absolute;
  top: 0;
  right: -125px;
  z-index: 10;
  width: 58.8%;
  height: 100%;
  background-color: rgba(1, 137, 81,0.75);
  /* background-color: rgba(45, 107, 81, 0.75); */
  transform: skew(200.25deg);
  
}
/* .careers-banner::after{
position: absolute;
content: '';
width: 100%;
height: 100%;
top: 0;
right: 0;
left:0;
background-color: rgba(0, 144, 166,0.85); 
} */

.career-text{
  z-index: 20;
}

.career-text h3{
  font-size: 3rem;
  font-weight: 600;
}

.career-text p{
  font-size: 1.5rem;
  margin: 1rem auto;
  color: #fff;   
}
/* .trns-text{
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  margin: 0;
  padding: 0;
  text-align: center; 
  font-size:10em;
  color: #fff;
  text-transform: uppercase;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgba(0,0,0,1);
  mix-blend-mode: overlay;
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
  background:rgba(0,0,0,2);
  } */
/* 
.tec{
    height: 100vh;
    width: 100%;
    background-image: url('../img/team.jpg');
    background-position: center;
    position: absolute; 
    transform: translate(-50%, -50%);
    padding-top: 400px;
    -webkit-background-clip: text;
    color: transparent;
    left:200px;
    font-weight: 900;
    
}
.tec1{
  height: 100vh;
  width: 100%;
  background-image: url('../img/team.jpg');
  background-position: center;
  position: relative;
  transform: translate(50%, 50%);
  -webkit-background-clip: text;
  color: transparent;
  right: 200px;
  font-weight: 900;  
} */


/* contact banner */

/* footer  */
 
.footer a,.footer p{  
 font-size: 1.05rem;   
  color:#333; 
  font-weight: 500;  
  text-decoration: none;
}
.f-link a:hover{
color: #111; 
font-weight: 600;
}
.f-link a:hover svg{
  fill:#111;
  height: 20px;
  width:20px;
  transition:all 0.2s ease-in;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
}
.f-link a:hover::after {
  width: 120px;  
}
/* Footer Follow Us */
.footer .social-network li{
  list-style-type: none;
  }

 .footer .social-network a{
   font-weight:400;
   height:35px;
   width:35px;
   margin:0 5px;
   text-align:center;    
   border-radius: 50%;
   display:flex;
   justify-content: center;
   align-items: center;
   line-height: 2;
   transition: all 0.2s ease-in;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

.footer .social-network a:hover{
  background-color: #f3f7fa;
  border: 2px solid #f4f4f4;
  transform: scale(1.1);
  transition: 0.2s all ease-in;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -ms-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.footer .copyright{
  margin: 0;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
}
/* end - footer */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.48;
}