@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}
.quick-navigation {
  position: fixed;
  z-index: 1;
  margin: 0;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.quick-navigation ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  /* border: 2px solid; */
  min-width: 110px;
}

.quick-navigation li{
  flex: 1;
  list-style-type: none;
  text-align: right;
  margin: 8px 0;   
}

.quick-navigation li a{
  padding: 0.6rem 0;
  /* border-radius: 1rem;    */
}

.quick-navigation .circle{  
  display: inline-block; 
  width: 8px;
  height: 8px;
  padding: 8px;
  border-radius: 50%;   
  box-shadow: 0 0 3px 1px #0090a6;
}
/* .quick-navigation a:hover .circle{
  border-color:#fff;
  background-color: #fff;
  display: none;
} */
.quick-navigation .quick-nav-text{
  display: none;
  color: #0090a6;
  padding: 0 0.8rem;
 }

.quick-navigation a:hover .quick-nav-text{
  display: inline-block;
  color: #fff;
}

/* .quick-navigation a:hover{
  background-color: #0090a6;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  color: #fff;
} */

section{
  height: 100vh;
}
 
h1{
  text-align: center;
  padding: 2rem 0;
  margin: 0;
}

section:nth-child(even){
  background-color: #eee;
}
section:nth-child(odd){
  background-color: #ffffff;
}


.title-inner{
  position: relative;
}

.title-text{
  opacity: 0;
}

.title-text-bg{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform-origin: left;
  transform: scaleX(0);   
  /* background-color: #fff; */
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
 

 /* === HOME SECTION  === */
.home{
  background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}
 /* === END-HOME SECTION  === */


 /* CSS from example */
 img{
   width: 100%;
 }
 

.logo ion-icon {
  color: #6adb9d;
  margin-right: 7px;
  position: relative;
  top: 1px;
  z-index: 1;
}

.contact {
  position: fixed;
  color: rgb(124, 124, 124);
  font-size: 12px;
  letter-spacing: 2px;
  font-family: Poppins;
  right: 100px;
  line-height: 80px;
  z-index: 1;
}

.menu{
  position: fixed;
  color: #6adb9d;
  right: 2em;
  top: 4px;
  line-height: 80px;
  z-index: 1;
}

.menu ion-icon {
  font-size: 24px;
}

.header {
  position: absolute;
  top: 46%;
  left: 28%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.circle-shape{
  position: absolute;
  top: 18%;
  right:10%;
  /* transform: translate(-50%, -50%); */
  z-index: 1;
  border: 1px solid hsl(188, 100%, 53%);
  box-shadow: 0 0 15px 2px#48c6ef;
  height: 450px;
  width: 450px;
  border-radius: 50%;
}

.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}

.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.home h1 {   
  font-weight: bolder !important;
  font-size: 46px !important;
  margin-bottom: 0px;
  text-transform: uppercase !important;
}

#tagline  {
  width: 640px;
}

p {
  color: rgb(95, 95, 95);
  font-weight: 200;
  font-family: "Roboto";
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

.buttons {
  margin-top: 40px;
}

button {
  margin-right: 10px !important;
  padding: 18px 30px;
  border: none;
  color: #fff;
  font-size: 12px !important;
  letter-spacing: 4px;
  font-weight: 300;
}

#one {      
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
 
.page-loading {
  position: absolute;
  width: 100%;
  height: 100vh;   
  z-index: 2;
  background-color: #fff;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

.ring {
  margin: 0%;
  padding: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  width: 40%;
  opacity: 0.7;    
}

.ringOne img {
  animation: rotateFirstRing 2s linear infinite;
}

.ringTwo img {
  animation: rotateFirstRing 8s linear infinite;
}

@keyframes rotateFirstRing {
  from {
        transform: rotate(0deg);
  }
  to {
        transform: rotate(360deg);
  }
}

#section-6{
  background-image: url("../img/map.jpg");
  background-size: cover;
  height: 60vh;
}