@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
:root{
  --bgColor:#000;  
}
body{
  font-family: 'Montserrat', sans-serif;
} 

.title-2{
  font-size: 1.2rem;
  font-weight: 600;
}

.wrapper{
  padding-top: 2rem;
  padding-bottom: 4rem;
}

/* Navbar */
.site-navbar{
  background-color: transparent;
}

/* End - Navbar */

/* side navigation */
.quick-navigation {
  position: fixed;
  z-index: 1;
  margin: 0;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.quick-navigation ul{
  padding: 0;
  display: flex;
  flex-direction: column;   
  min-width: 110px;
}

.quick-navigation li{
  flex: 1;
  list-style-type: none;
  text-align: right;
  margin: 8px 0;   
}

.quick-navigation li a{
  padding: 0.6rem 0;   
}

.quick-navigation .circle{  
  display: inline-block; 
  width: 6px;
  height: 6px;
  padding: 6px;
  border-radius: 50%;   
  box-shadow: 0 0 3px 1px #0090a6;
}

.quick-navigation .quick-nav-text{
  display: none;
  color: #0090a6;
  padding: 0 0.8rem;   
 }

.quick-navigation a:hover .quick-nav-text{
  display: inline-block;
  color: #fff;
}
/* end - side navigation */


/* === Home page === */
.home{
  height: 100vh;
}
   
/* === OUR SERVICES === */
 
/* horizontal scroll section animation */
#serviceContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  height: 100vh;         
  background-color: #E6F4F0;
  position: relative;
}
#slideContainer {
  width: 200%; /* to contain 2 panels, each with 100% of window width */
  height: 100%;
  height: 100vh;         
  background-color: transparent;
  position: absolute;
  top: 0;
}
.service-panel {
  height: 100%;
  width: 50%; /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;
  background-color: transparent;
  color: #222;
  opacity: 0;
}
.back-title{
  font-size: 6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Monoton', cursive;
  color: #222;
  opacity: 0.08;
}
/* end-horizontal scroll section animation */
.services .card{
  border: none;
  color: #333;
  background-color:rgba(255, 255, 255,0.8);
  /* background-image: linear-gradient(to right, rgb(116, 235, 213), rgb(172, 182, 229));   */
}

.services .card-body{
   box-shadow: 0 0 1px 1px rgba(0, 144, 166,0.2);
   border-radius: 0.4rem;
   position: relative;
}
 
.services .service-icon{
  width: 90px;
}
.services .service-text{
  display: none;
}
.scroll-icon{
  height: 40px;
  width:30px;
  border: 1px solid #0090a6;
  border-radius: 14px;
  position: relative;
  bottom: 0;
}
.scroll-icon::after{
  position: absolute;
  content: '';
  width: 2px;
  height: 5px;
  background-color: #0090a6;
  top: 50%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
/* === END - OUR SERVICES === */

/* === INDUSTRIES === */
.industry-letter{
  font-size: 3rem;
  text-align: right;
  font-family: 'Monoton', cursive;
}
.industry-body{
  display: flex;
  flex-direction: column;
}
.industry:hover .industry-letter,.industry.active .industry-letter{
  color: #02A9EA;   
}

.industry:hover .industry-title,.industry.active .industry-title{
  color: #02A9EA;   
}
.industry.active{
  box-shadow: 14px 14px 35px -8px rgba(0, 0, 0,0.1);
}
/* industry card border */
.line,.line-2 {
  position: absolute;
  box-sizing: border-box;             
  background-color: #02A9EA;
  display: inline-block;
}
 .top-line{
  height: 2px;  
}
.right-line{ 
  right: 0;                         
  width: 1.5px;   
}
.bottom-line{
  bottom: 0;
  right: 0;
  height: 1.5px;   
}
.left-line{
  left: 0;
  bottom: 0;
  width: 2px;
}
.ind-content{
  display: none;
  padding:4rem;
}
.ind-content.active{
  display: block;
}
 
/* === END - INDUSTRIES === */

/* === ABOUT US === */

.testimonials{
  z-index: 20;
  background-color: #fff;
  height: 70vh;   
}

.testimonial{
  margin:1.2rem 0;  
}

.testimonial h4{
  color: #555;
}

.flex-panels{
   position: relative;
   /* overflow: hidden;      */
}
.panel-1,.panel-2,.panel-3{
  position: absolute;
  top: 0;
  bottom: 0;      
  height: 70vh;       
}
.panel-1{
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  left:0;
  right:40%;
  z-index: 10;
}
.panel-2{
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  left:20%;
  right:20%;
  z-index: 8;
}
.panel-3{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  left:40%;
  right:0;
  z-index: 6;
}
.panel-title{
  color: #fff;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  float:right;
  margin-top: 2rem;
  }

  /* new about us */
  /* horizontal scroll section animation */
#aboutContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  height: 100vh;         
  background-color: #E6F4F0;
  position: relative;
}
#aboutSlide {
  width: 200%; /* to contain 2 panels, each with 100% of window width */
  height: 100%;
  height: 100vh;           
  position: absolute;
  top: 0;
}
.about-panel {
  height: 100%;
  width: 50%; /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;  
  color: #222;
 background-color: #0090a6;
}
.about-1{
  background-color: #0090a6;
}
.about-2{
  background-color: 'pink';
}
/* === END - ABOUT US === */


/* === CAREERS BANNER === */

.careers-banner{
padding-top: 4rem;
padding-bottom: 4rem;
background-image: url('../img/careers.png');
background-position: center;
background-size: cover;
position: relative;
color: #fff;
}

.careers-banner::after{
position: absolute;
content: '';
width: 100%;
height: 100%;
top: 0;
right: 0;
left:0;
background-color: rgba(0, 144, 166,0.85); 
}

.career-text{
  z-index: 1;
}

.career-text h3{
  font-size: 3rem;
}

.career-text p{
  font-size: 1.5rem;
  margin: 1rem auto;
  color: #fff;   
}

/* contact banner */
.contact-banner{
  height: 50vh;
}

/* Navbar */
.nav-link{
  color: #fff;   
}
.dropdown-menu{
  margin-top: 0; 
  padding: 0;
  /* padding-top: 5px;    */
  border-radius: 0 !important;   
  /* background-color: rgb(27, 43, 48,0.98) !important; */
  background-color: #f3f7fa;   
}
.dropdown-menu .dropdown-item{     
  font-weight: 500;   
  color:#2a354f;
  transition:all 0.1s linear;
}
.dropdown-menu .dropdown-item:hover{             
  transition:all 0.1s linear;
  background-color: transparent !important;
  transform: translateX(3px);
}

.dropdown-menu a:hover{
  /* color: #ffffff; */
  color:#152a49 ;
  font-weight: 600;
  /* text-decoration: underline !important;      */
}
 
.service-dropdown-menu>div{
  margin-left: 40px;
}
.dropdown:hover .navbar{
  background: rgb(27, 43, 48,0.95) !important;
}
/* service dropdown menu category title */
 .dropdown-title{   
  color:rgba(0, 123, 255,0.8);
  font-weight: 600; 
  font-size: 15px;
  margin-bottom: 0;     
}
 .dropdown-menu a{
  font-size: 14px !important;
  padding: 4px 6px;     
}
.dropdown-industry a{
font-size: 1rem !important;
margin-left: 1rem !important;
}
.dropdown-industry{
   min-width: 220px;
}
/* end - show drop downmenu on hover */

/* drop down menu width */
@media (min-width: 992px) {
/* show dropdown menu on hover */
.site-navbar .dropdown:hover > .dropdown-menu {
  display: block;
}
 /*Without this, clicking will make it sticky*/
.site-navbar .dropdown > .dropdown-toggle:active {
 
  pointer-events: none;
}
/* full width mega dropdown menu for services  */
.service-dropdown{
  position: static;    
}

  .dropdown-menu{         
      border: transparent;
  }
  .service-dropdown-menu,.dropdown-industry{
    width: 100%;
    animation: fadeUP .8s cubic-bezier(.34,1.45,.7,1);
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
  @keyframes fadeUP{
    0%{
      transform: translateY(20px);        
    }       
    100%{
      transform: translateY(-10px);       
    }
  }
}


/* page loading */
.no-js #page-loader {
  display: none;
}

.loading-wrapper{
  position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
  z-index: 9999;
  background-image:linear-gradient(to left top, rgb(0, 180, 219), rgb(0, 131, 176))
}
/* end - page loading */


/* util classes */
  .wrapper{
      padding-top: 2rem;
      padding-bottom:2rem;
      height: 100vh;
  }
  .section-title{
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;
  }
/* util clssess */


/* home  */
.logo{
  max-width: 180px;
}
.home{
  height: 100vh; 
  position: relative;
  background-image:linear-gradient(to left top, rgb(0, 180, 219), rgb(0, 131, 176),#fff 94%)    
}

.home-titles{
height: 80vh; 
position: relative; 
}

.title{
  display: none;
  opacity: 0;
  margin: auto 4rem;
}

.title-text{
  font-size: 3rem;
  font-weight: 700;
}

.title-info{
  padding: 1rem 0;
}

.no-js .title-1{
  display:initial;
  opacity: 1;
}

/* slide navigation dots */

.slide-dot-nav{
 position: absolute;
 bottom: 0;
 right: 10px;
display: flex;
padding: 0;
margin: 0;
}

.slide-dot-nav li{
  margin: 15px;
  list-style-type: none;
}

.slide-dot-nav li a{         
  background-color: #777;
  display: inline-block;      
  padding: 4px;
  border-radius: 50%;
  position: relative;      
}

.slide-dot-nav li a::before{
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 100%;     
  border: 2px solid #555;
  padding: 8px;
  border-radius: 50%;
}

/* end - slide navigation dots */

/* social links */
.social-links{
  padding: 0;
  margin: 0;
  position: absolute;
  left: 10px;
  bottom: 0;
  margin-left: 10px;      
}      

.social-links li{
  list-style-type: none;
  margin: 10px 0;
  display: flex;
  justify-content: center;    
}
.social-links li .fab{
  color: #fff;
}
/* end - social links */

.home-shape{
  height: 80vh;      
}

.shape-outer{
  height: 400px;
  width: 400px;     
  border-radius: 50%; 
  box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
  position: relative;
  overflow: hidden;
}
.progress > svg {
  height: 100%;
  display: block;
}
/* partner logos */
.partners{     
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.partners .col-3{
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners img{
width: 200px;
/* filter: grayscale(100%); */
}
/* end - partner logos */