@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
:root{
  --bgColor:#000;  
}
body{
  font-family: 'Montserrat', sans-serif;
} 

.quick-navigation {
  position: fixed;
  z-index: 1;
  margin: 0;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.quick-navigation ul{
  padding: 0;
  display: flex;
  flex-direction: column;   
  min-width: 110px;
}

.quick-navigation li{
  flex: 1;
  list-style-type: none;
  text-align: right;
  margin: 8px 0;   
}

.quick-navigation li a{
  padding: 0.6rem 0;   
}

.quick-navigation .circle{  
  display: inline-block; 
  width: 8px;
  height: 8px;
  padding: 8px;
  border-radius: 50%;   
  box-shadow: 0 0 3px 1px #0090a6;
}

.quick-navigation .quick-nav-text{
  display: none;
  color: #0090a6;
  padding: 0 0.8rem;
 }

.quick-navigation a:hover .quick-nav-text{
  display: inline-block;
  color: #fff;
}

.home{
  height: 100vh;
}
 
h1{
  text-align: center;
  padding: 2rem 0;
  margin: 0;
}

section:nth-child(even){
  background-color: #eee;
}
section:nth-child(odd){
  background-color: #ffffff;
}


.title-inner{
  position: relative;
}

.title-text{
  opacity: 0;
}

.title-text-bg{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform-origin: left;
  transform: scaleX(0);   
  /* background-color: #fff; */
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
 

 /* === HOME SECTION  === */
.home{
  background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
 /* === END-HOME SECTION  === */


 /* CSS from example */
  
.header {
  position: absolute;
  top: 46%;
  left: 28%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.circle-shape{
  position: absolute;
  top: 18%;
  right:10%;
  /* transform: translate(-50%, -50%); */
  z-index: 1;
  border: 1px solid hsl(188, 100%, 53%);
  box-shadow: 0 0 15px 2px#48c6ef;
  height: 450px;
  width: 450px;
  border-radius: 50%;
}

.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}

.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.home h1 {   
  font-weight: bolder !important;
  font-size: 46px !important;
  margin-bottom: 0px;
  text-transform: uppercase !important;
}

#tagline  {
  width: 640px;
}

p {
  color: rgb(95, 95, 95);
  font-weight: 200;
  font-family: "Roboto";
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

.buttons {
  margin-top: 40px;
}

button {
  margin-right: 10px !important;
  padding: 18px 30px;
  border: none;
  color: #fff;
  font-size: 12px !important;
  letter-spacing: 4px;
  font-weight: 300;
}

#one {      
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
 
.page-loading {
  position: absolute;
  width: 100%;
  height: 100vh;   
  z-index: 2;
  background-color: #fff;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}
 
.btn-one{
  background-color:#ffffff;
  border: 1px solid rgb(0, 144, 166,0.5);
  color: #111;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  padding-right: 5rem;
  z-index: 1;
  --bgWidth:0;
}

.btn-one::after,.btn-one::before{
  position: absolute;  
  color: #fff;
  font-size: 1.3rem;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.btn-one::after{
  content:'\25BA';
  width: 25%;
  background-color:rgba(0, 144, 166,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.btn-one::before{
  content: '';   
  width:var(--bgWidth);
  background-color:rgba(0, 144, 166,1);
}

.btn-two{
  position: relative;
padding-right: 5rem;
border: 1px solid rgba(0, 144, 166,0.4);
background-color: #ffffff;
color:#000;
font-weight: 800;
z-index: 1;
}

.btn-two .btn-arrow{
  position: absolute;
  top: 28%;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.btn-two::before{
  content: '';
  position: absolute;
  height: 100%;
  width:22%;
  right: 0;
  top: 0;
  background-color: #0090a680;
  z-index: -1;
}

/* === OUR SERVICES === */
.services .card{
  border: none;  
}

.services .card-body{
   box-shadow: 0 0 1px 1px rgba(0, 144, 166,0.2);
   border-radius: 0.4rem;
   position: relative;
}
 
.services .service-icon{
  width: 90px;
}
.services .service-text{
  display: none;
}
.scroll-icon{
  height: 40px;
  width:30px;
  border: 1px solid #0090a6;
  border-radius: 14px;
  position: relative;
  bottom: 0;
}
.scroll-icon::after{
  position: absolute;
  content: '';
  width: 2px;
  height: 5px;
  background-color: #0090a6;
  top: 50%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
/* === END - OUR SERVICES === */

/* === INDUSTRIES === */
.industry-letter{
  font-size: 3rem;
  text-align: right;
  font-family: 'Monoton', cursive;
}
.industry-body{
  display: flex;
  flex-direction: column;

}
/* === INDUSTRIES === */
.title-2{
  font-size: 1.2rem;
  font-weight: 600;
}

.wrapper{
  padding-top: 2rem;
  padding-bottom: 4rem;
}

/* === ABOUT US === */

.testimonials{
  z-index: 20;
  background-color: #fff;   
}

.testimonial{
  margin:1.2rem 0;  
}

.testimonial h4{
  color: #555;
}

.flex-panels{
   position: relative;
   /* overflow: hidden;      */
}
.panel-1,.panel-2,.panel-3{
  position: absolute;
  top: 0;
  bottom: 0;      
  height: 70vh;       
}
.panel-1{
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  left:0;
  right:40%;
  z-index: 10;
}
.panel-2{
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  left:20%;
  right:20%;
  z-index: 8;
}
.panel-3{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  left:40%;
  right:0;
  z-index: 6;
}
.panel-title{
  color: #fff;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  float:right;
  margin-top: 2rem;
  }
/* === END - ABOUT US === */


/* === CAREERS BANNER === */

.careers-banner{
padding-top: 4rem;
padding-bottom: 4rem;
background-image: url('../img/careers.png');
background-position: center;
background-size: cover;
position: relative;
color: #fff;
}

.careers-banner::after{
position: absolute;
content: '';
width: 100%;
height: 100%;
top: 0;
right: 0;
left:0;
background-color: rgba(0, 144, 166,0.4); 
}

.career-text{
  z-index: 1;
}

.career-text h3{
  font-size: 3rem;
}

.career-text p{
  font-size: 1.5rem;
  margin: 1rem auto;
  color: #fff;   
}

