/* Navbar */
.navbar{
    background-color: hsl(167, 39%, 97%);
}

.logo{
    max-width: 160px;
}

/* Horizontal scroll container */
#masterContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    height: 100vh;     
    background-color: hsl(167, 39%, 97%);
    position: relative;
}

#slidesContainer {
    width: 400%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex; 
    overflow-x: scroll;
    scroll-snap-type: x mandatory;         
}

.slide {
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    scroll-snap-align: start;     
}
.slide h3{
    color: #000;
    font-size: 4rem;        
}

.bg-title {
    font-size: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Monoton', cursive;
    opacity: 0.05;
    width: 100%;
    text-align: center;
    color:#000;
}

 /* {

} */