 .rpa-banner {
  background-image: url("../../img/rpa/img-3.jpg");
 background-position: center;
}
 
.ai-banner {
  background-image: url("../../img/ai/img-2.jpg");
  background-position:center;
}

.bc-banner {
  background-image: url("../../img/blockchain/img.jpg"); 
  background-position: center;
}
 
.iot-banner {
  background-image: url("../../img/iot/img-3.jpg");   
      background-position: 0px -70px;
} 
.swd-banner {
  background-image: url("../../img/software/img-1.jpg");
  background-size: cover;
  background-position: top center;
}
.mapp-banner {
  background-image: url("../../img/mapp/img-3.jpg");
  /* background-position: center; */
}
 
.web-banner {
  background-image: url("../../img/web/img-6.jpg");
  background-position: center center;
}
 
.dm-banner {
  background-image: url("../../img/dmark/img-1.jpg");
  
}
 

.cs-banner {
  background-image: url("../../img/cyber-security/img-4.jpg");
  background-position: center;
}
 
.infosec-banner {
  background-image: url("../../img/infosec/infosec-1.jpg");
  background-position: top center;
}
 
.dvis-banner {
  background-image: url("../../img/datavis/img-2.jpg");
  background-position: center;
}
 
.pa-banner {
  background-image: url("../../img/predictive/img-2.jpg");   
}
 
.dcenter-banner {
  background-image: url("../../img/datacenter/img-1.jpg");
}
 
.ns-banner {
  background-image: url("../../img/network-security/img-2.jpg");
  background-position: center;
}
 
.bd-banner {
  background-image: url("../../img/bigdata/img.jpg");
  background-position: center;
}
 
.eu-banner {
  background-image: url("../../img/endusercomputing/img-2.jpg");
  
}
 
.app-sec-banner {
  background-image: url("../../img/app_security/img.jpg");
  background-position: center center;   
}

 
.mob-sec-banner {   
  background-image: url("../../img/mobile-security/img.jpg");
  background-position: left center;
}
 
.comp-banner {   
  background-image: url("../../img/compliance/img-1.jpg");
  background-position: center;
}
 .access-banner {   
  background-image: url("../../img/identity/img-1.jpg");
  background-position: center;
}
.infra-banner {   
  background-image: url("../../img/infra/img.jpg");
  background-position: center; 
}

.outs-banner {
  background-image: url("../../img/outs/img-5.jpg");
  background-position:top;
}


.image-list li a{
  color: #f9f9f9;
  font-size: 1.5rem;
  font-weight: 600;   
}
.image-list li{
  list-style: square;
}