 .rpa-banner {
  background-image: url("../../img/rpa/rpa.png");
 background-position: center;
}
 
.ai-banner { 
  background-image: url("../../img/ai/artificial-intelligence.jpg");
  background-position:center; 
}

.bc-banner {
  background-image: url("../../img/blockchain/blockchain.jpg"); 
  background-position: center;
}
 
.iot-banner {
  background-image: url("../../img/iot/internet-of-things.jpg");   
      background-position:center;
} 
.swd-banner {
  background-image: url("../../img/software/softwere.jpg");
  background-size: cover;
  background-position:center;
}
.mapp-banner {
  background-image: url("../../img/mapp/mobapp.jpg");
  background-position: center;  
}
 
.web-banner {
  background-image: url("../../img/web/webdev.png");
  background-position: center center;
}
 
.dm-banner {
  background-image: url("../../img/dmark/digital-marketing.jpg");
  
}
 
.cs-banner {
  background-image: url("../../img/cyber-security/cyber-security.jpg");
  background-position: center;
}
 
.infosec-banner {
  background-image: url("../../img/infosec/infosec-1.jpg");
  background-position: top center;
}
 
.dvis-banner {
  background-image: url("../../img/datavis/data-visualisation.jpg");
  background-position: top right;
}
 
.pa-banner {
  background-image: url("../../img/predictive/predective-analytics.jpg");   
}
 
.dcenter-banner {
  background-image: url("../../img/datacenter/datacenter-services.jpg");
}
 
.ns-banner {
  background-image: url("../../img/network-security/network-security.jpg");
  background-position: center;
}
 
.bd-banner {
  background-image: url("../../img/bigdata/bigdata.jpg");
  background-position: center;
}
 
.end-user-banner {
  background-image: url("../../img/endusercomputing/end-user-computing.jpg");
  background-position: center;
}
 
.app-sec-banner {
  background-image: url("../../img/app_security/application-and-datasecurity.jpg");
  background-position: center center;   
}

 
.mob-sec-banner {   
  background-image: url("../../img/mobile-security/endpoint-mobilesecurity.jpg");
  background-position: left center;
}
 
.comp-banner {   
  background-image: url("../../img/compliance/governance-and-compliance.jpg");
  background-position: center;
}
 .access-banner {   
  background-image: url("../../img/identity/identity-accessmanagement.jpg");
  background-position: center;
}
.infra-banner {   
  background-image: url("../../img/infra/system-infrastructure.jpg");
  /* background-position: center;  */
}

.outs-banner {
  background-image: url("../../img/outs/outsourcing.jpg");
  background-position:top;
}