 .rpa-banner {
  background-image: url("../../img/rpa/img-3.jpg");
 background-position: center;
}
 
.ai-banner {
  background-image: url("../../img/ai/img-2.jpg");
  background-position:center;
}

.bc-banner {
  background-image: url("../../img/blockchain/img.jpg"); 
  background-position: center;
}
 
.iot-banner {
  background-image: url("../../img/iot/img.jpg");   
      background-position:top;
} 
.swd-banner {
  background-image: url("../../img/software/img.jpg");
  background-size: cover;
  background-position:center;
}
.mapp-banner {
  background-image: url("../../img/mapp/img-1.jpg");
  /* background-position: center; */
}
 
.web-banner {
  background-image: url("../../img/web/img-1.jpg");
  background-position: center center;
}
 
.dm-banner {
  background-image: url("../../img/dmark/img-1.jpg");
  
}
 

.cs-banner {
  background-image: url("../../img/cyber-security/img-4.jpg");
  background-position: center;
}
 
.infosec-banner {
  background-image: url("../../img/infosec/infosec-1.jpg");
  background-position: top center;
}
 
.dvis-banner {
  background-image: url("../../img/datavis/img.jpg");
  background-position: top right;
}
 
.pa-banner {
  background-image: url("../../img/predictive/img-2.jpg");   
}
 
.dcenter-banner {
  background-image: url("../../img/datacenter/img-1.jpg");
}
 
.ns-banner {
  background-image: url("../../img/network-security/img-2.jpg");
  background-position: center;
}
 
.bd-banner {
  background-image: url("../../img/bigdata/img.jpg");
  background-position: center;
}
 
.end-user-banner {
  background-image: url("../../img/banner-img/end-user-computing.jpg");
  background-position: center;
}
 
.app-sec-banner {
  background-image: url("../../img/app_security/img.jpg");
  background-position: center center;   
}

 
.mob-sec-banner {   
  background-image: url("../../img/mobile-security/img.jpg");
  background-position: left center;
}
 
.comp-banner {   
  background-image: url("../../img/compliance/img-1.jpg");
  background-position: center;
}
 .access-banner {   
  background-image: url("../../img/identity/img-1.jpg");
  background-position: center;
}
.infra-banner {   
  background-image: url("../../img/infra/img.jpg");
  /* background-position: center;  */
}

.outs-banner {
  background-image: url("../../img/outs/img-5.jpg");
  background-position:top;
}