@font-face {
  font-family:HKGrotesk;
  src: url('../../fonts/HKGroteskPro-Regular.woff2');
}
 
body{
  font-family: HKGrotesk;
}
.rpa-banner .service-name{
  background-color: #f9f9f9;
  color: #16151F;
  padding: 0.5rem 1rem;
}

.rpa-overview{
  background-color: #ffffff;
  padding-top:3rem;   
  color: #525252;
}
.rpa-overview .service-tagline{
  color: #16151F;
  font-size: 1.5rem;
   font-style: normal;
   font-weight: 600;
   margin:0
}
.rpa-overview .fa-quote-left, .rpa-overview .fa-quote-right{
  color: #00bdd5;
}
.service-content-cards .col-md-9:nth-child(even) .row {
    justify-content: flex-start;
}

.service-content{
    background-color: #f9f9f9;
}
.content-card-icon{
    margin-bottom: 12px;
}
.content-card-title{
    margin-bottom: 12px;
    color: #16151F;
}
.content-card-text{
    font-size: 1.0625rem;
    color: #474747;
}

.v2{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #f9f9f9;
    font-size: 1.2rem;
}