@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");
:root {
  --color-1: #16213d;
  --color-2: #a0a5b0;
  --coloro-3: #00bdd5;
  --color-4: #303030;
  --color-5: rgba(10, 10, 10, 0.2);
  --color-6: #3a2e28;
  --color-7: #525252;
  --color-8: #767676;
  /* fdfff5, f9f8f0 #f8f8ff*/
}

/* 
box-shadow: 0 2px 14px 0 rgba(0,0,0,0.05);
box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0,0,0,0.03),0 0.275rem 0.75rem -0.0625rem rgba(0,0,0,0.06) !important;
*/

/* buttons */
body {
  padding-top: 61.5px;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.banner-title-1,
.banner-title-2 {
  color: #e5e5e5;
  font-family: "Playfair Display";
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 5px;
}

.banner-title-1 {
  font-size: 4rem;
}
.banner-title-2 {
  font-size: 3rem;
}

.title-light {
  color: #dbdbdb;
}
.title-dark {
  color: #0c1b33;
}
.title-white {
  color: #fff;
}
.section-title-1 {
  font-size: 6rem;
  font-weight: 700;
}
.section-title-2 {
  font-family: "Archivo Black", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}
.section-title-3 {
  font-family: "Archivo Black", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
}

/* border line animation */
.line {
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  display: inline-block;
}
.top-line {
  height: 2px;
  width: 0%;
  top: 1.5%;
  left: 1.5%;
}
.right-line {
  top: 1.5%;
  right: 1.5%;
  width: 2px;
  height: 0%;
}
.bottom-line {
  bottom: 1.5%;
  right: 1.5%;
  height: 2px;
  width: 0%;
}
.left-line {
  left: 1.5%;
  bottom: 1.5%;
  width: 2px;
  height: 0%;
}
/* end - border line animation */

.button,
.service-contact {
  display: inline-block;
  padding: 0.6em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  outline: none;
  /* box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17); */
}

.button-dark,
.service-contact {
  background-color: hsl(217, 62%, 18%);
  border: 0.16em solid hsl(231, 37%, 36%);
  color: #ffffff;
}
.button-light {
  background-color: #f2f3f9;
  border: 0.16em solid rgba(12, 27, 51, 0.8);
  color: #0c1b33;
}
.button-blue {
  background-color: #00bdd5;
  color: #0c1b33;
  border: 0.16em solid hsl(231, 37%, 36%);
  font-weight: 500;
}
.service-contact {
  margin-left: 1.5rem;
  padding: 0.5em 1.5em !important;
  color: #dbdbdb;
  font-weight: 500;
}
.button-light:hover {
  border: 0.16em solid #b8bdc4;
}
.button-blue:hover {
  border: 0.16em solid #fdfff5;
}
.service-contact:hover {
  text-decoration: none;
  color: #ffffff;
  border: 0.16em solid hsl(217, 62%, 62%);
}
.button-dark:hover {
  border: 0.16em solid #f2f3f9;
}
