@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Merriweather&display=swap');

.image-list{
  position: absolute;
  top: 10px;
  left: 10px;
}
.image-list li{
  list-style-type: none;
  
}
.image-list li a{
  color:#f5f5f5;
}


#careers .nav-item.active .nav-link{
  font-weight: 600;
  color:#00bdd5;
}
 
.career-home{
  height: 100vh;
  background-color: #0c1b33;
  background-image: url('../../img/careers/img-2.jpg');
  background-position:center center;  
  background-size:cover;
  position: relative;
  z-index: 1;
} 
.career-home::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(180deg,rgba(0, 158, 253,0.6) 0%, rgba(41, 245, 153,0.2) 100%); 
  z-index: -1;
  height: 100%;
  width: 100%;
   
}
.career-title{
  font-size: 3.5rem;
  font-family: 'Merriweather';
  letter-spacing: 3px;
  /* font-family: 'Bree Serif'; */
  font-weight: 600;
  color: #f5f5f5;
}
.career-home .hero-title{
  color: #b8bdc4;
  font-size: 2.5rem;
  /* line-height: 1.5; */
  text-align: center !important;
}
.career-home .hero-text{
  font-size: 1.4rem;
  color: #b8bdc4;
  text-align: justify !important;
}
.career-home ul{
  margin: 0;
  padding: 0;
}

.career-home ul li{
color: #b8bdc4;
margin: 1rem;
font-size: 1.2rem;
}


.career-points{
  background-color: #f9f9f9;
}
.career-points .hero-text{
  font-size: 1.4rem;
  font-weight: 500;
}

.career-points ul li{
  font-size: 1.2rem;
  margin:1.2rem 1rem;
}

/* career cards */
.career-card{
  position: relative;   
}
.career-card .card-body::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color:transparent;
}
/* .career-card:hover .career-card .card-body::after{
  background-color: #0c1b33 !important;
} */

.career-card .card-link{
  display: none;
}

/* end career cards */
/*  */
 .content {
    font-size: 1.2rem;
  }

  .title-2 {
    font-size: 1.6rem;
  }

  .partner img {
    width: 180px;
  }
/*  
  .img-frame {
    border: 1px solid;
    width: 500px;
    height: 280px;
    border-radius: 4px;
    background: lightblue;
    position: relative;
  }

  .img-frame::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    border: 1px solid rgba(37, 35, 35, 0.602);
    height: 400px;
    width: 350px;
    top: -65px;
    left: -50px;
  } */

 /* .career-home .social-links i {
    
    text-align: left !important;
    left: 25px;
    color: red;
  } */

  /* Openings */
   .career-home .card1 {
    padding: 20px;
    width: 320px;
  }

  .career-home .card .pin {
    color: #8c8c8c;
  }

  .career-home .card a {
    margin-top: 10px;
  }

   

  .career-home .card:hover {
    /* background: blue;
color: white; */
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.45);
  }

  .career-home .card:hover hr {
    background: #f1f1f1c7;
  }

  .career-home .card:hover .pin {

    color: #24aec3;


  }

  .career-home .card:hover .pin1 {

    color: #007bff;

  }
 

  /* File */
  /* .custom-file-label {
    background-color: lightblue;
    color: #3ea7ca;
    border: 1.5px dashed rgb(62, 167, 202);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .form-control {
    position: relative;
  }

  .form-control::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #000;
  }

  .form-control:focus {
    box-shadow: 0 0 4px 1px rgba(0, 123, 255, .25);
  }

  .custom-file-label::after {
    display: none;
  } */



  /* 3d-flip */
   .job-container{
    background-color: #f9f9f9;
    padding: 50px;
  }
  .job-container .job-container h1{
    text-align: center;
    padding-bottom: 40px;
  }
  .job-container .box {
    position: relative;
    width: 350px;
    height: 400px;
    /* border: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
    transform-style: preserve-3d;
    /* margin: 10px; */
background-color: transparent;

  }
  .job-container .box:nth-child(3){
    border-left: none;
  }
  .job-container .box .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: 5px; */
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    transform: perspective(500px) rotateY(0deg);

  }

  .job-container .front-text h5 {
    color: #065c69;
    padding-top: 55px;
  }

  .job-container .front-text .pin {
    color: #0090a6;
  }

  .job-container .box .face.front {
    background: #fff;
    /* border: 1px solid #ccc; */
  }

  .job-container .box:hover .face.front {
    transform: perspective(500px) rotateY(180deg);
  }

  .job-container .box .face.Back {
    background: rgba(230, 230, 230,1);
    color: #0090a6;
    display: flex;
    align-items: center;
    transform: perspective(500px) rotateY(180deg);
  }

  .job-container .box:hover .face.Back {
    transform: perspective(500px) rotateY(360deg);
  }

  .job-container .box .face .front-text {
    font-size: 14px;
    width: 250px;
    transform: perspective(500px) translateZ(50px);
  }

  .job-container .box .face .Back-text {
    width: 250px;
    transform: perspective(500px) translateZ(50px);
  }

   /* TODO - check it  */
 .contact-banner{
  display: none;
   }
 