<section class=" contact-wrapper" id="contactMaster">
    <div class="overlay"></div>
    <button type="button" id="contactClose">
        <i class="fas fa-times"></i>
    </button>

    <div class="container d-flex align-items-center flex-column contact-inner">
        <div class="row d-flex justify-content-between mt-2 mt-md-3">
            <div class="col-md-6 col-12 contact-form order-2 order-md-1">
                <div class="container">
                    <form id="contactForm" class="needs-validation" novalidate>
                        <div class="row py-md-2">
                            <div class="col-12">
                                <div class="form-group floating-label">

                                    <input type="text" class="form-control" name="firstname" id="username"
                                        pattern="[a-zA-Z\s]{2,30}" maxlength="30" placeholder="Full Name"
                                        autocomplete="off" required />
                                    <label for="username">
                                        Full Name <span class="required">*</span></label>
                                    <div class="invalid-feedback">
                                        Please enter valid name
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group floating-label">

                                    <input type="email" class="form-control" name="email" autocomplete="off"
                                        placeholder="Email" id="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required />
                                    <label for="email">Email <span class="required">*</span></label>
                                    <div class="invalid-feedback">
                                        Please enter valid email
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group floating-label">

                                    <input type="tel" class="form-control" name="phone" id="phone"
                                        pattern="^[0-9]{3,12}$" maxlength="12" placeholder="Phone" autocomplete="off"
                                        required />
                                    <label for="phone">
                                        Phone <span class="required">*</span></label>
                                    <div class="invalid-feedback">
                                        Please enter valid phone number
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group floating-label">

                                    <textarea class="form-control pt-3 pb-4" name="message" id="message" maxlength="300"
                                        placeholder="Message" required></textarea>
                                    <label for="message">Message <span class="required">*</span></label>
                                    <div class="invalid-feedback">
                                        Please write a message
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="button button-blue px-5 mx-auto" id="contactSubmit">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-12 d-flex justify-content-center flex-column order-1 order-md-2">
                <h2 class="text-center contact-title">Get in touch</h2>
                <p class="text-center contact-caption">
                    We are happy to assist you with your queries
                </p>
            </div>
        </div>

        <div class="container contact-info px-0 mb-md-5 mb-2 d-none d-md-block">
            <div class="row mx-auto d-flex justify-content-between align-items-center ">
                <address class="col-md-3 col-12">
                    <a class="location"
                        href="https://www.google.com/maps/place/Olaya+St,+Riyadh+Saudi+Arabia/@24.748724,46.65751,12z/data=!4m5!3m4!1s0x3e2ee380679744a9:0xf35ac2694fe69342!8m2!3d24.7487239!4d46.6575096?hl=en">
                        Virtech Technologies, Riyadh, <br />
                        PO Box - 23754, K.S.A - 11611.
                    </a>
                </address>
                <div class="col text-center">
                    <a class="phone col-md-3 col-6" href="tel:+966552357583">
                        (+966) 552 357 583
                    </a>
                </div>

                <div class="col-md-3 col-6 text-center">
                    <a class="mail col" href="mailto:info@virtech-ksa.com">
                        info@virtech-ksa.com
                    </a>
                </div>

                <div class="col-md-3 col-6">
                    <ul class="social-network d-flex justify-content-center align-items-center pl-0 ">
                        <li>
                            <a href="https://www.facebook.com/Virtech.SA" class="icoFacebook" title="Facebook">
                                <i class="fab fa-facebook-f fa-fw"> </i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Virtech_KSA" class="icoTwitter" title="Twitter"><i
                                    class="fab fa-twitter fa-fw"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/Virtech.KSA/" class="icoInstagram" title="Instagram">
                                <i class="fab fa-instagram fa-fw"> </i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/virtech-ksa/about/" class="icoLinkedin"
                                title="Linkedin"><i class="fab fa-linkedin-in fa-fw"> </i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- successful submission status -->
    <div class="status-alert" id="formStatus">
        <p><i class="fas fa-check"></i></p>
        <h4 class="text-center">Thank you for contacting us!</h4>
        <p>We will get in touch with you soon</p>
    </div>
</section>