<!--  FOOTER -->
<footer class="footer container-fluid px-md-4 py-1 scroll-s d-flex flex-column">

    <div class="d-flex flex-row align-items-center flex-wrap footer-block-1">
        <!-- Privacy, Terms and Conditions and sitemap -->
        <ul class="m-0 footer-privacy">
            <li>
                <a class="f-link" href="#">Privacy Policy</a>
            </li>
            <li>
                <a class="f-link" href="#">Terms & Conditions</a>
            </li>
            <li>
                <a class="f-link" href="#">Sitemap</a>
            </li>
        </ul>

        <!-- contact details -->
        <ul class="footer-contact d-flex">
            <li class=" f-link d-flex align-items-center">
                <a href="tel:+966552357583"><i class="fas fa-fw fa-phone-square-alt"></i>(+966) 552 357 583</a>
            </li>

            <li class="f-link d-flex align-items-center ml-md-4">
                <a href="mailto:info@virtech-ksa.com"><i class="fas fa-fw fa-envelope mr-1"></i>
                    info@virtech-ksa.com</a>
            </li>

            <li class="f-link d-flex align-items-center ml-md-4">
                <a
                    href="https://www.google.com/maps/place/Olaya+St,+Riyadh/@24.748724,46.65751,12z/data=!4m5!3m4!1s0x3e2ee380679744a9:0xf35ac2694fe69342!8m2!3d24.7487239!4d46.6575096?hl=en">
                    <i class="fas fa-fw fa-map-marker-alt"></i>Location</a>
            </li>
        </ul>

        <!-- social media links -->
        <ul class="footer-social d-flex align-items-center pl-0 m-0 mr-md-5">
            <li>
                <a href="https://www.facebook.com/Virtech.SA" class="icon-facebook" title="Facebook"><i
                        class="fab fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/Virtech_KSA" class="icon-twitter" title="Twitter"><i
                        class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/Virtech.KSA/" class="icon-instagram" title="Instagram"><i
                        class="fab fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/virtech-ksa/about/" class="icon-linkedin" title="Linkedin"><i
                        class="fab fa-linkedin-in"></i></a>
            </li>
        </ul>

        <!-- copyright -->
        <p class="footer-copyright text-center">
            © 2018 - <span id="footerYear"></span> Virtech. All rights reserved
        </p>
    </div>
    <script>
        document.getElementById('footerYear').textContent = new Date().getFullYear();
    </script>
</footer>
<!-- END - FOOTER -->