<nav class="navbar navbar-expand-lg fixed-top master-navbar py-0" id="masterNavbar">
    <div class="container-fluid">
        <!-- Logo -->
        <a href="./index.html" class="navbar-brand ml-2 py-2"><img src="./img/logo/logo.png" alt="Virtech"
                id="masterLogo" /></a>

        <!-- Toggle Button -->
        <button type="button" class="navbar-toggler hamburger hamburger--squeeze is-active" type="button"
            data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <!-- Menu Links -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <!-- ! Services Dropdown menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                        <li><a class="dropdown-item dropdown-toggle" href="#">New Age Technologies</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="./robotic-process-automation.html"
                                        class="dropdown-item">RPA</a>
                                </li>
                                <li>
                                    <a href="./artificial-intelligence.html" class="dropdown-item">Artificial
                                        Intelligence</a>
                                </li>
                                <li>
                                    <a href="./blockchain.html" class="dropdown-item">Blockchain</a>
                                </li>
                                <li>
                                    <a href="./internet-of-things.html" class="dropdown-item">Internet of Things</a>
                                </li>
                                <li>
                                    <a href="./bigdata.html" class="dropdown-item">Big Data</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item dropdown-toggle" href="#">Security Services</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./network-and-security.html" class="dropdown-item">Network Security</a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="./cyber-security.html" class="dropdown-item">Cyber
                                        Security</a>
                                </li>

                                <li>
                                    <a href="./application_and_data_security.html" class="dropdown-item">Application
                                        &
                                        Data Security</a>
                                </li>

                                <li>
                                    <a href="./governance-and-compliance.html" class="dropdown-item">Governance &
                                        Compliance</a>
                                </li>

                                <li>
                                    <a href="./endpoint-mobile-security.html" class="dropdown-item">Endpoint &
                                        Mobile
                                        Security</a>
                                </li>

                                <li>
                                    <a href="./identity_and_access_management.html" class="dropdown-item">Identity &
                                        Access
                                        Management</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item dropdown-toggle" href="#">Application Development</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="./software-development.html" class="dropdown-item">Software
                                        Development</a>
                                </li>
                                <li>
                                    <a href="./mobile-app-development.html" class="dropdown-item">Mobile App
                                        Development</a>
                                </li>
                                <li>
                                    <a href="./web-development.html" class="dropdown-item">Web Development</a>
                                </li>
                                <li>
                                    <a href="./digital-marketing.html" class="dropdown-item">Digital Marketing</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item dropdown-toggle" href="#">BI Solutions</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="./data-visualization.html" class="dropdown-item">Data
                                        Visualization</a>
                                </li>
                                <li>
                                    <a href="./predictive-analytics.html" class="dropdown-item">Predictive
                                        Analysis</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item dropdown-toggle" href="#">Infrastructure Services</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="./data-center-services.html" class="dropdown-item">Data
                                        Center Services</a>
                                </li>
                                <li>
                                    <a href="./system-infrastructure.html" class="dropdown-item">System
                                        Infrastructure</a>
                                </li>
                                <li>
                                    <a href="./end-user-computing.html" class="dropdown-item">End User Computing</a>
                                </li>
                            </ul>
                        </li>
                        <!-- ! Outsourcing Services -->
                        <li class="nav-item">
                            <a href="./oursourcing-service.html" class="dropdown-item">Outsourcing Services</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="./about.html">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="./careers.html">Careers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" id="contactLink">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>