:root{
  --weare-bg:#f4f4f4;
}

#introContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;  
    -webkit-perspective: 1000;
    perspective: 1000;
    height: 92vh;          
    position: relative;
    background-color:var(--weare-bg);

  }
  .intro-wrapper .intro-hero-title{
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);      
    /* font-family: 'Bungee Outline', cursive; */
    /* font-family: 'Archivo Black', sans-serif; */
    font-family: 'Playfair Display',sans-serif;
    letter-spacing: 3px;
    font-size: 6.5rem;
   color:#0c1b33;
   font-weight: 600;
  }
  .intro-wrapper #introSlides {
    width: 100%;
    height: 100%;
    /* background-color: transparent; */
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;     
    align-items: flex-end;
  }
 
  .intro-wrapper .slide {
    height: 100%;
    width: 100%;
    /* background-color: transparent;    */
    position: relative;
    z-index: 9;
  }
  /* .intro-wrapper .slide-2{
    height: 86%;
  } */
  /* end horizontal scroll */
  .intro-wrapper .company-intro .title-card{
    height:100%;
    width: 100%;
    border: none;
    opacity: 1;  
  }
  .intro-wrapper .company-intro .title-card-1{
     background-color: #581b98;
     background-image: url('../../images/home/wave-6.svg');
     border-radius: 50%;
     shape-outside: circle(50%);
   }
   .intro-wrapper .company-intro .title-card-2{
    background-color: #009efa;
    background-image: url('../../images/home/wave-2.svg');
  }
  .intro-wrapper .company-intro .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
  }
   /* ! testimonials */
 
   /* ! END - Testimonials */
   .intro-wrapper .c-val-caption{
    font-size: 1rem;
    color: hsl(217, 62%, 75%);
  }
  .intro-wrapper .c-val-title{
    font-size: 1.5rem;     
    color: hsl(217, 62%, 82%);    
    text-align: center;
  }
  .intro-wrapper .core-values{   
  background-image: url('../../img/Shape.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:100% 320px;   
  position: relative;     
}
.intro-wrapper .core-values .card{
  background-color: transparent;      
  border: none;
  }
  .intro-wrapper .core-values .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  /* .c-val-4 .card-body, .c-val-3 .card-body{
    flex-direction: column;
  } */
  .intro-wrapper .core-values .core-text{    
    text-align: center;
    align-self: flex-start;
  }
   
  .intro-wrapper .core-values .core-icon-outer{
    padding: 0.3rem;
    border-radius: 50%;
    background-color:hsl(217, 62%, 20%); 
  }
  .intro-wrapper .core-values .core-icon-inner{     
    background-color: hsl(217, 62%, 10%);
    padding: 1.5rem;
    border-radius: 50%;
  }
  .intro-wrapper .core-icon-inner img{
    opacity: 0.7;
  }
  .intro-wrapper .core-icon-outer:hover{
    background-color:hsl(187, 92%, 44%);
  }
  .intro-wrapper .core-icon-outer:hover .core-icon-inner img{
    opacity: 1;
  }
  .intro-wrapper .core-values .card-body{
    padding: 0;
  }

  .intro-wrapper .c-section-title{
position: absolute;
left: 44%;
bottom: 45px;
font-size: 2rem;
color: hsl(217, 62%, 82%);
text-align: center;
}
.intro-wrapper .c-val-2 .card{
  margin-right: 2rem;
}
.intro-wrapper .c-val-3 .card{
margin-bottom: 0.8rem;
}
.intro-wrapper .c-val-4 .card{
  margin-bottom: 0.8rem;
  }
  .intro-wrapper .c-val-5 .card{
    margin-left: 2.4rem;
    }
/* 
.intro-wrapper .c-val-1{
   position: absolute;
   bottom:10%;
   left: 5%;
 }
 
 .intro-wrapper .c-val-2{
position: absolute;
bottom:35%; 
left: 9%;
 }
 .intro-wrapper .c-val-3{
position: absolute;
left:33%;
top: 22.5%; 
 }
 .intro-wrapper .c-val-4{
position: absolute;
right: 24%;
top:22.5%;
}

.intro-wrapper .c-val-5{
position: absolute;
bottom: 35%;
right: 8%;
}

.intro-wrapper .c-val-6{
position: absolute;
right:10%;
bottom:10%;
} */
 

.intro-wrapper .achievements .card{
    background-color: rgba(0, 0, 0,0.1);
    box-shadow: none;
  }
  .intro-wrapper .achievements .card-body{
     color: #ffffff;
  }