 .contact-banner {
  height: 55vh;
  background-image: url("../../img/contact/globe-sm.jpg");
  background-position: center;
  position: relative;
}
.contact-banner .banner-overlay {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;   
  background-color:rgba(8, 85, 107,0.8);
}
.banner-content {
  z-index: 99;
  color: #ffffff !important;
}
.banner-title {
  font-size: 3rem;
}
 
 
 

 
