 
.core-values {
  /* --core-value:#16213d; */
  --core-value:#08556b;
  background-color:var(--core-value) ;
  height: calc(100vh - var(--navbar-height)); 
  position: relative;  
  overflow: hidden;
}
.circle{
  height: 700px;
  width: 700px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  bottom: -30%;
  background-image: url('../../img/Shape.svg');
  background-repeat: no-repeat;
}
/*  */
  .core-values {
    width: 100%; 
  }

  .c-val {
  display: flex;
  align-items: center;
  position: absolute; 
  left: 50%;
  top: 50%;
}
  
.c-val .core-icon-outer {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: hsl(217, 62%, 20%);
}
.c-val .core-icon-inner {
  background-color:#16151f;
  padding: 1.5rem;
  border-radius: 50%;
}
 .core-values .core-icon-outer:hover {
  background-color: hsl(187, 92%, 44%);
}

.c-val-1{
  transform: rotate(193deg) translate(500px);
}
.c-val-2{
  transform: rotate(223deg) translate(520px);
}
.c-val-3{
  transform: rotate(253deg) translate(505px);
}
.c-val-4{
  transform: rotate(283deg) translate(470px);
}
.c-val-5{
  transform: rotate(313deg) translate(430px);
}
.c-val-6{
      transform: rotate(343deg) translate(390px);
}
@media (max-width: 576px) {
  .c-val{
    position: static;
    width: 100%;
    padding: 0.3rem 0;
  }
  .core-values .c-val-title {
  font-size: 1.2rem;
 
}

.core-values .core-values .core-icon-outer {
  padding: 0.2rem;      
}
 
.c-val .core-icon-inner {
padding: 0.8rem;
}
.core-values .core-icon-inner img {
 width: 40px;
 height: 40px;
}
.core-text{
  align-self: center;
} 
}