 
.core-values {
  /* --core-value:#16213d; */
  --core-value:#08556b;
  background-color:var(--core-value) ;
  height: calc(100vh - var(--navbar-height)); 
  position: relative;  
}
.core-values .c-val-caption {
  font-size: 1rem;
  color: #98b6e7;
}
.core-values .c-val-title {
  font-size: 1.5rem;
  color: #b5caee;
  text-align: center;
}

.core-values .core-values .core-icon-outer {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: hsl(217, 62%, 20%);
}
.core-values .core-values .core-icon-inner {
  background-color: hsl(217, 62%, 10%);
  padding: 1.5rem;
  border-radius: 50%;
}

.core-values .core-icon-inner img {
  opacity: 0.7;
}

.core-values .core-icon-outer:hover {
  background-color: hsl(187, 92%, 44%);
}

.core-values .core-icon-outer:hover .core-icon-inner img {
  opacity: 1;
}

.core-values .core-values .card-body {
  padding: 0;
}
/*  */

.core-values .wrapper {
  height: 74vh;
  position: relative;
  /* overflow: hidden; */
}

  .core-values {
    width: 100%;
    position: relative;
    bottom: 0;
  }

.c-val-shape {
  position: absolute;
  width: 600px;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.c-val {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  /* border: 1px solid hsl(223, 47%, 26%); */
  width: 400px;
}

.c-val-1 {
  left: 5%;
  bottom: 10px;
  justify-content: flex-end;
}

.c-val-2 {
  left:10.3%;
  bottom: 188px;
  justify-content: flex-end;
}

.c-val-3 {
  left: 22%;
  bottom: 301px;
  justify-content: flex-end;
}

.c-val-4 {
  right:10.3%;
  bottom: 188px;
}

.c-val-5 {
  right: 22%;
  bottom: 301px;
}

.c-val-6 {
  right: 5%;
  bottom: 10px;
}

.c-val-title,
.c-val-caption {
  margin: 0;
}
.core-text {
  align-self: flex-start;
  margin-top: -30px;
}
.c-val-1 .c-val-caption,
.c-val-2 .c-val-caption,
.c-val-3 .c-val-caption {
  text-align: right;
}
.c-val-caption {
  text-align: center;
  font-style: italic;
}
.c-val-4 .c-val-caption,
.c-val-5 .c-val-caption,
.c-val-6 .c-val-caption {
  text-align: left;
}
.c-val .core-icon-outer {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: hsl(217, 62%, 20%);
}
.c-val .core-icon-inner {
  background-color: hsl(217, 62%, 10%);
  padding: 1.5rem;
  border-radius: 50%;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .c-val-1 {
    left: 5%;
    bottom: 10px;
    justify-content: flex-end;
  }

  .c-val-2 {
    left: 10.3%;
    bottom: 188px;
    justify-content: flex-end;
  }

  .c-val-3 {
    left: 22%;
    bottom: 301px;
    justify-content: flex-end;
  }

  .c-val-4 {
    right: 10.3%;
    bottom: 188px;
  }

  .c-val-5 {
    right: 22%;
    bottom: 301px;
  }

  .c-val-6 {
    right:5%;
    bottom: 10px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .c-val-1 {
    left: 12%;
    bottom: 10px;
    justify-content: flex-end;
  }

  .c-val-2 {
    left: 15%;
    bottom: 188px;
    justify-content: flex-end;
  }

  .c-val-3 {
    left: 25%;
    bottom: 304px;
    justify-content: flex-end;
  }

  .c-val-4 {
    right:15%;
    bottom: 188px;
  }

  .c-val-5 {
    right:25%;
    bottom: 309px;
  }

  .c-val-6 {
    right: 12%;
    bottom: 10px;
  }
}

@media (max-width: 768px) { 
   
  .c-val-shape{
    display: none;
  }
  .wrapper{
    position: static;
    height: 100%;

  }
  .c-val{
    position: static;
    width: 100%;
  }
  .core-text{
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .c-val{
    position: static;
    width: 100%;
    padding: 0.3rem 0;
  }
  .core-values .c-val-title {
  font-size: 1.2rem;
 
}

.core-values .core-values .core-icon-outer {
  padding: 0.2rem;      
}
 
.c-val .core-icon-inner {
padding: 0.8rem;
}
.core-values .core-icon-inner img {
 width: 40px;
 height: 40px;
}
.core-text{
  align-self: center;
}
.c-val-1,.c-val-3{
  justify-content: start;
}
.c-val-4,.c-val-6{
  justify-content: flex-end;
}
.core-values .c-val-title{
  text-align: left;
}
}

/* gsap animation */
.wrapper{
  opacity: 0;
}
.core-values .title-1{
  opacity: 0;
}