 
.core-values {
  /* --core-value:#16213d; */
  --core-value:#08556b;
  background-color:var(--core-value) ;
  height: calc(100vh - var(--navbar-height)); 
  position: relative;  
  overflow: hidden;
}
.circle{
  height: 640px;
  width: 640px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  bottom: -35%;
  background-image: url('../../img/Shape.svg');
  background-repeat: no-repeat;
}
/*  */
  .core-values {
    width: 100%; 
  }

  .c-val {
  display: flex;
  align-items: center;
  position: absolute; 
  left: 50%;
  top: 50%;
}

.c-val .core-icon-outer {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: hsl(217, 62%, 20%);
}
.c-val .core-icon-inner {
  background-color:#16151f;
  padding: 1.5rem;
  border-radius: 50%;
}
 .core-values .core-icon-outer:hover {
  background-color: hsl(187, 92%, 44%);
}

.c-val-1{
  transform: rotate(195deg) translate(475px);
}
.c-val-2{
  transform: rotate(222deg) translate(485px);
}
.c-val-3{
  transform: rotate(249deg) translate(475px);
}
.c-val-4{
  transform: rotate(279deg) translate(442px);
}
.c-val-5{
  transform: rotate(309deg) translate(400px);
}
.c-val-6{
      transform: rotate(340deg) translate(355px);
}

/*rotate icons to bring back to original  */
 .c-val-1 img, .core-text-1{
  transform: rotate(-195deg);
}
.c-val-2 img, .core-text-2{
  transform: rotate(-222deg);
}
.c-val-3 img, .core-text-3{
  transform: rotate(-249deg);
}
.c-val-4 img, .core-text-4{
  transform: rotate(-279deg);
}
.c-val-5 img, .core-text-5{
  transform: rotate(-309deg);
}
.c-val-6 img, .core-text-6{
  transform: rotate(-340deg);
}

.core-text{
  position: absolute;
  left: 0px;
  color: #f5f5f5;
  width: 200px;
  text-align: center;
}
.core-text-title{
  margin: 0;

}
.core-text-caption{
  margin: 0;
}
.core-text-1{
  left:105px;
  top:30px;   
}
.core-text-2{
  left: 100px;
  top:-70px;
  width: 250px; 
}
.core-text-3{
    bottom: 106px;
    left: 18px; 
    top: -109px;
}
.core-text-4{
 left: 25px;
 top: 192px;
}
.core-text-5{
     top: 175px;
    width: 273px;
    left: 80px
}
.core-text-6{
     left: 90px;
    top: 45px;
}
@media (max-width: 576px) {
  .c-val{
    position: static;
    width: 100%;
    padding: 0.3rem 0;
  }
  .core-values .c-val-title {
  font-size: 1.2rem;
 
}

.core-values .core-values .core-icon-outer {
  padding: 0.2rem;      
}
 
.c-val .core-icon-inner {
padding: 0.8rem;
}
.core-values .core-icon-inner img {
 width: 40px;
 height: 40px;
}
.core-text{
  align-self: center;
} 
}