@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");
:root {
  --navbar-height: 55px;
  /* --ind-bg: #16213d; */
  /* --service-bg: #16213d; */
}

.loading-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1250;
  background-color: #ffffff;
}
.loading-inner {
  display: flex;
  height: 100%;
}

.loading-wrapper img {
  vertical-align: middle;
  border-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
}
/* ! logo reveal animation  */
.section{
  /* padding-top: 62px; */
}
.home-banner {
  height: calc(100vh - var(--navbar-height));
}

.services-wrapper {
  height: calc(100vh - var(--navbar-height));   
}

.industry-wrapper {
  height: calc(100vh - var(--navbar-height));   
  position: relative;
}

/* ? scroll snap end */
/* ! Home video banner and titles */
#main .nav-item.active .nav-link {
  font-weight: 600;
  color: #00bdd5;
}

.home-banner {  
  background-color: rgba(22, 33, 61,0.5);
  position: relative;
}

.home-banner .title-container {
  display: none;
}

.home-banner .title-container.active {
  display: block;
}

.home-banner .social-media-links {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.home-banner .social-media-links ul {
  margin: 0;
  padding: 0;
}

.home-banner .social-media-links li {
  list-style-type: none;
  margin: 1rem;
}
.home-banner .social-media-links li a {
  color: #b8bdc4;
}
.home-banner .social-media-links li a:hover {
  color: #00bdd5;
}
/* .home-banner .home-video {
  position: relative;
  height: calc(100vh - var(--navbar-height));
} */
.home-banner .bg-video {
  width: 95%;
  mix-blend-mode: lighten;
  /* height: 94vh; */
  position: relative;
  z-index: 1;
}

.home-video video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}
/* 
.side-nav {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 99;
}
.side-nav li {
  list-style-type: none;
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}
.side-nav li span {
  opacity: 0;
}
.side-nav li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: hsl(215, 9%, 85%);
  transition: all 0.6 ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-nav li a:after {
  content: "";
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  display: inline-block;
  border: 2px solid rgba(244, 244, 244, 0.5);
  border-radius: 50%;
  margin-left: 6px;
  opacity: 1;
}
.side-nav li a:hover:after {
  background-color: #f4f4f4;
}
.side-nav li a:hover span {
  opacity: 1;
}
.light.side-nav li a:after {
  border: 2px solid #0c1b33;
}
.light.side-nav li a {
  color: #0c1b33;
}
.light.side-nav li a:hover:after {
  background-color: #0c1b33;
}
.side-nav.hide {
  display: none;
} */

/* ! Animation styles */

/* #servicesInner{     
    opacity: 0;  
    height: 0%;   
  }

  .title-card-2{
    display: none;
  }

  .service-cards .col-12{
    opacity: 0;
  } */

/* ! services end */


 

/* OUR CLIENTS */
.clients-wrapper {
  /* background-color: #f4f4f4;      */
  background-color: #ffffff;
}

.clients-wrapper .client-title {
  font-size: 2.2rem;
  font-weight: 600;
  /* font-family: 'Archivo Black', sans-serif; */
  /* font-family: 'Playfair Display'; */
}
/* ! Our clients */
.clients-wrapper .client {
  padding: 2rem 3rem;
  border-radius: 0.3rem;
  margin: 1rem !important;
  max-width: 300px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.clients-wrapper .client img {
  width: 100%;
}



/*  company stats  */

.stats-wrapper {
  background-color: #08556b;
  color: #b8bdc4;
  
}

/* .stats-wrapper .stats img{
  height: 40px;
  width: 40px;
  margin-right: 1rem;
} */
.stats-wrapper .stats-number{   
  font-size: 4rem;
  display: flex;
  align-items: center; 
  justify-content: center;
  color: hsl(217, 62%, 82%)
}
.stats-wrapper .stats-number span:nth-child(2){
  margin-left: 4px;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.stats-wrapper .stats-title{
 color: hsl(217, 62%, 75%);
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.stats-wrapper .stats:nth-child(2), .stats-wrapper .stats:nth-child(3){
  border-left:1px solid hsl(187, 100%, 32%);
}


/* ! Mobile responsive for home page */
@media (max-width: 576px) {
  .banner-title-1 {
    font-size: 2.2rem;
    font-weight: 500;
  }
  .home-banner .social-media-links {
    bottom: unset;
    left: 0px;
    bottom: 5px;
  }
 .stats-circle{
   height: 90px;
   width: 90px;    
   border-radius: 50%;   
   background-color: #0a7492;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .stats-circle h2{
   height: 80px;
   width: 80px;
   border-radius: 50%;
   background-color: hsla(223, 47%, 20%, 1);
   padding: 2rem;
 }
  .stats-wrapper .stats{         
        border-radius: 0.5rem;
        margin: 0.5rem 0;
  }
  .stats-wrapper .stats:nth-child(2), .stats-wrapper .stats:nth-child(3){
 border: none;
}
.stats-wrapper .stats-number,.stats-wrapper .stats-title{
  margin: 0;
}
.stats-wrapper .stats-number{
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}
 .stats-wrapper .stats-title{
   font-size: 1.2rem;
 }
 

}