:root {
  --navbar-height: 61.974px;
}

.loading-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1250;
  background-color: #ffffff;
}
.loading-inner {
  display: flex;
  height: 100%;
}

.loading-wrapper img {
  vertical-align: middle;
  border-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
}
/* ! loga reveal animation  */

/* ? Scroll snap styles */
.scroll-wrapper {
  height: calc(100vh - var(--navbar-height));
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.scroll-s {
  scroll-snap-align: start;
}
.home-banner {
  height: calc(100vh - var(--navbar-height));
}

.services-wrapper {
  height: calc(100vh - var(--navbar-height));
}

.industry-wrapper {
  height: calc(100vh - var(--navbar-height));
}

/* ? scroll snap end */
/* ! Home video banner and titles */
#main .nav-item.active .nav-link {
  font-weight: 600;
  color: #00bdd5;
}

.home-banner {
  background-color: rgba(12, 27, 51, 0.5);
  position: relative;
}

.home-banner .title-container {
  display: none;
}

.home-banner .title-container.active {
  display: block;
}

.home-banner .social-media-links {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.home-banner .social-media-links ul {
  margin: 0;
  padding: 0;
}

.home-banner .social-media-links li {
  list-style-type: none;
  margin: 1rem;
}
.home-banner .social-media-links li a {
  color: #b8bdc4;
}
.home-banner .social-media-links li a:hover {
  color: #00bdd5;
}
.home-banner .home-video {
  position: relative;
}
.home-banner .bg-video {
  width: 95%;
  mix-blend-mode: lighten;
  /* height: 94vh; */
  position: relative;
  z-index: 1;
}

.home-video video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.side-nav {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 99;
}
.side-nav li {
  list-style-type: none;
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}
.side-nav li span {
  opacity: 0;
}
.side-nav li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: hsl(215, 9%, 85%);
  transition: all 0.6 ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-nav li a:after {
  content: "";
  box-sizing: border-box;
  height: 15px;
  width: 15px;
  display: inline-block;
  border: 2px solid rgba(244, 244, 244, 0.5);
  border-radius: 50%;
  margin-left: 6px;
  opacity: 1;
}
.side-nav li a:hover:after {
  background-color: #f4f4f4;
}
.side-nav li a:hover span {
  opacity: 1;
}
.light.side-nav li a:after {
  border: 2px solid #0c1b33;
}
.light.side-nav li a {
  color: #0c1b33;
}
.light.side-nav li a:hover:after {
  background-color: #0c1b33;
}
.side-nav.hide {
  display: none;
}

:root {
  /* --service-bg:#f2f3f9;    */
  --service-bg: #0c1b33;
}

#serviceCarousel {
  height: 60vh;
}

.services-wrapper {
  --service-bg: #0c1b33;
  background-color: var(--service-bg);
}

.services-wrapper .services .title-card {
  height: 100%;
  width: 100%;
  border: none;
  opacity: 1;
}

.services-wrapper .services .title-card-2 {
  background-image: url("../../img/card-6.png");
  background-size: cover;
}

.services-wrapper .services .title-card .card-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.services-wrapper .services .title-card .card-title {
  font-size: 2rem;
  font-weight: 700;
  color: #f2f3f9;
  text-align: center;
}
.services-wrapper .services .service-cards .service-title {
  font-weight: 600;
  color: #f2f3f9;
  text-align: left;
  font-size: 1.2rem;
}
.services-wrapper .service-cards .card {
  border: none;
  transition: all 0.2s ease-in;
  background-color: hsl(217, 62%, 15%);
  border-radius: 0px;
}
.services-wrapper .service-cards .card .line {
  /* background-color:hsl(217, 62%, 25%); */
  background-color: #00bdd5;
}
.services-wrapper .service-cards .card-body {
  margin: 0.4rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  text-decoration: none;
}
.services-wrapper .service-card-content {
  /* opacity: 0;   */
  transition: all 0.2s ease-in;
  /* color: #b8bdc4; */
  color: #b8bdc4;
  font-size: 1rem;
  margin-bottom: 0;
  /* text-align: justify; */
}
.services-wrapper .service-cards .card:hover {
  background-color: hsl(217, 62%, 10%);
}
.services-wrapper .service-cards .card:hover .service-card-content {
  opacity: 1;
  /* margin-left: 1rem; */
  transition: all 0.2s ease-in;
}
.services-wrapper .service-cards .card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  margin-bottom: 1rem;
}
.carousel-control-next,
.carousel-control-prev {
  align-items: flex-end;
}
.carousel-indicators {
  bottom: -62px;
}

.carousel-indicators li {
  width: 35px;
  height: 5px;
  margin-right: 8px;
  margin-left: 8px;
  background-color: hsl(217, 62%, 20%);
  opacity: 1;
}

.carousel-indicators li.active {
  background-color: #00bdd5;
}

/* ! Animation styles */

/* #servicesInner{     
    opacity: 0;  
    height: 0%;   
  }

  .title-card-2{
    display: none;
  }

  .service-cards .col-12{
    opacity: 0;
  } */

/* ! services end */

/* PROOF OF CONCEPT */
.poc-wrapper {
  background-color: #00bdd5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%238ddad5' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  position: relative;
}

.poc-wrapper .card {
  background-color: transparent;
  border: none;
}
.poc-wrapper .card-header {
  border: none;
  background-color: transparent;
}
.poc-wrapper .poc-inner {
  margin: auto 2.4rem;
}
.poc-wrapper .poc-list {
  margin: 0 auto;
  padding: 24px 0;
  width: max-content;
}
.poc-wrapper .poc-list li {
  list-style-type: none;
  margin-bottom: 1rem;
}
.poc-wrapper .poc-list li p,
.poc-text {
  font-size: 1.2rem;
  font-weight: 500;
}
.poc-wrapper .poc-list .fas {
  color: #ffffff;
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(50, 97, 209, 0.3);
  }
  100% {
    box-shadow: 0 0 0 4px rgba(50, 97, 209, 0.3);
  }
}
.poc-wrapper .poc-btn[aria-expanded="true"] span {
  transform: rotate(180deg);
}
.poc-wrapper .poc-list li {
  display: flex;
  align-items: center;
}
.poc-wrapper .poc-list li p {
  margin-bottom: 0;
}
.poc-wrapper .poc-btn {
  background-image: linear-gradient(
    to top,
    rgba(0, 189, 213, 0.9) 32%,
    transparent,
    transparent,
    transparent 100%
  );
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  bottom: -20px;
  outline: none;
  box-shadow: none;
  color: #0c1b33;
  border-bottom: 1px solid #00bdd5;
}
.poc-wrapper .poc-btn:hover {
  text-decoration: none;
  /* background-color: #f2f3f9; */

  color: #0c1b33;

  background-image: linear-gradient(
    to top,
    rgba(0, 189, 213, 0.9) 32%,
    transparent,
    transparent,
    transparent 100%
  );
}
.poc-wrapper .poc-btn[aria-expanded="true"] {
  background-image: linear-gradient(
    to top,
    rgba(0, 189, 213, 0.9) 32%,
    transparent,
    transparent,
    transparent 100%
  );
  color: #f4f4f4;
}
.poc-wrapper .poc-btn[aria-expanded="true"]:hover {
  background-color: #00bdd5;
}
.poc-wrapper .poc-btn svg {
  animation: arrow 1.5s linear infinite alternate;
}
.poc-wrapper .poc-btn[aria-expanded="true"] svg {
  animation: arrowup 1.5s linear infinite alternate;
}
@keyframes arrow {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes arrowup {
  0% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.poc-wrapper .poc-contact {
  background-color: #0c1b33;
  border-radius: 1.5rem;
  color: #b8bdc4;
  border-color: #0c1b33;
  font-weight: 600;
}

:root {
  --ind-bg: #0c1b33;
}

.industry-wrapper {
  /* --ind-bg:#0c1b33;   */
  --ind-bg: #f2f3f9;
  background-color: var(--ind-bg);
}
.industry-inner {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.industry-letter {
  font-size: 3rem;
  text-align: right;
  font-family: "Monoton", cursive;
  margin-right: 10px;
}
.industry-body {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
.industry:hover .industry-letter,
.industry.active .industry-letter {
  color: #fff;
}
.industry {
  padding: 0;
}
.industry .industry-title {
  color: #3c3c42;
  margin-left: 10px;
}
.industry:hover .industry-title,
.industry.active .industry-title {
  color: #fff;
}
.industry.active {
  box-shadow: 14px 14px 35px -8px rgba(0, 0, 0, 0.1);
  border: 1px solid #00bdd5;
  background-color: #00bdd5;
  color: #fff;
}
.industry-col-2 {
  align-self: center;
}

.ind-content {
  display: none;
  padding-left: 3rem;
}
.ind-content h2 {
  font-size: 2.2rem;
  color: #00bdd5;
  font-weight: 600;
}
.ind-content p {
  font-size: 1.2rem;
  color: #3c3c42;
}
.ind-content.active {
  display: block;
}
#industryInner .col-12 {
  padding: 5px;
}

/* Todo - for animations */
/* #introSlides{
    opacity: 0;
  } */

/* #industryInner{
    opacity: 0;
  } */

.intro-wrapper {
  background-color: #0c1b33;
  height: 94vh;
}
.intro-wrapper .c-val-caption {
  font-size: 1rem;
  color: hsl(217, 62%, 75%);
}
.intro-wrapper .c-val-title {
  font-size: 1.5rem;
  color: hsl(217, 62%, 82%);
  text-align: center;
}

.intro-wrapper .core-values .core-icon-outer {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: hsl(217, 62%, 20%);
}
.intro-wrapper .core-values .core-icon-inner {
  background-color: hsl(217, 62%, 10%);
  padding: 1.5rem;
  border-radius: 50%;
}
.intro-wrapper .core-icon-inner img {
  opacity: 0.7;
}
.intro-wrapper .core-icon-outer:hover {
  background-color: hsl(187, 92%, 44%);
}
.intro-wrapper .core-icon-outer:hover .core-icon-inner img {
  opacity: 1;
}
.intro-wrapper .core-values .card-body {
  padding: 0;
}
/*  */

.wrapper {
  height: 74vh;
  position: relative;
  overflow: hidden;
}

.core-values {
  width: 100%;
  position: relative;
  bottom: 0;
}

.c-val-shape {
  position: absolute;
  width: 600px;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.c-val {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
}

.c-val-1 {
  left: 2px;
  bottom: 10px;
  justify-content: flex-end;
}

.c-val-2 {
  left: 90px;
  bottom: 188px;
  justify-content: flex-end;
}

.c-val-3 {
  left: 265px;
  bottom: 304px;
  justify-content: flex-end;
}

.c-val-4 {
  right: 89px;
  bottom: 188px;
}

.c-val-5 {
  right: 285px;
  bottom: 309px;
}

.c-val-6 {
  right: 3px;
  bottom: 10px;
}

.c-val-title,
.c-val-caption {
  margin: 0;
}
.core-text {
  align-self: flex-start;
  margin-top: -30px;
}
.c-val-1 .c-val-caption,
.c-val-2 .c-val-caption,
.c-val-3 .c-val-caption {
  text-align: right;
}
.c-val-caption {
  text-align: center;
  font-style: italic;
}
.c-val-4 .c-val-caption,
.c-val-5 .c-val-caption,
.c-val-6 .c-val-caption {
  text-align: left;
}
.c-val .core-icon-outer {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: hsl(217, 62%, 20%);
}
.c-val .core-icon-inner {
  background-color: hsl(217, 62%, 10%);
  padding: 1.5rem;
  border-radius: 50%;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .c-val-1 {
    left: -42px;
    bottom: 10px;
    justify-content: flex-end;
  }

  .c-val-2 {
    left: 46px;
    bottom: 188px;
    justify-content: flex-end;
  }

  .c-val-3 {
    left: 225px;
    bottom: 301px;
    justify-content: flex-end;
  }

  .c-val-4 {
    right: 48px;
    bottom: 188px;
  }

  .c-val-5 {
    right: 230px;
    bottom: 301px;
  }

  .c-val-6 {
    right: -41px;
    bottom: 10px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .c-val-1 {
    left: 20px;
    bottom: 10px;
    justify-content: flex-end;
  }

  .c-val-2 {
    left: 90px;
    bottom: 188px;
    justify-content: flex-end;
  }

  .c-val-3 {
    left: 265px;
    bottom: 304px;
    justify-content: flex-end;
  }

  .c-val-4 {
    right: 89px;
    bottom: 188px;
  }

  .c-val-5 {
    right: 285px;
    bottom: 309px;
  }

  .c-val-6 {
    right: 3px;
    bottom: 10px;
  }
}

/* OUR CLIENTS */
.clients-wrapper {
  /* background-color: #f4f4f4;      */
  background-color: #ffffff;
}

.clients-wrapper .client-title {
  font-size: 2.2rem;
  font-weight: 600;
  /* font-family: 'Archivo Black', sans-serif; */
  /* font-family: 'Playfair Display'; */
}
/* ! Our clients */
.clients-wrapper .client {
  padding: 2rem 3rem;
  border-radius: 0.3rem;
  margin: 1rem !important;
  max-width: 300px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.clients-wrapper .client img {
  width: 100%;
}

.contact-banner {
  height: 55vh;
  background-image: url("../../img/contact/globe-sm.jpg");
  background-position: center;
  position: relative;
}
.contact-banner .banner-overlay {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  /* background-color: rgba(12, 27, 51, 0.2); */
  background-color: rgba(22, 33, 61, 0.9);
}
.banner-content {
  z-index: 99;
  color: #ffffff !important;
}
.banner-title {
  font-size: 3rem;
}
/* ! Mobile responsive for home page */
@media (max-width: 576px) {
  .banner-title-1 {
    font-size: 2rem;
  }
  .social-media-links {
    bottom: unset;
    left: 5px;
    top: 75px;
  }
}
