.master-wrapper{
    position: relative;
}

.home-outer{
    background-color:#05070c;
    height: 87vh;          
}

.home-inner{
    position: relative;
}

/* ? Home titles */

.home-titles{
position: relative;
}
.title-container{
    display: none;
}
.title-container.active{
    display: block;
}
.hero-title{
    color: #05070c;
}
 
.hero-title span{
    background-color: #f4f4f4;
    display: inline-block;
    margin: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 2.5rem;
}
.hero-text{
    font-size: 1.2rem;
    color: #b8bdc4;
}

.social-media-links{
    position: absolute;
    bottom: 5px;
    left: 10px;
}
.social-media-links ul{
    margin: 0;
    padding: 0;
}
.social-media-links li{
    list-style-type: none;
    margin: 1rem;
}
.home-video{
    position: relative;
} 
.bg-video{
    width: 85%;
    mix-blend-mode: screen;   
}
.side-nav{
    position: fixed;
    top: 50%;
    right: 10px;
    z-index: 99;
}
.side-nav li{
    list-style-type: none;
    margin: 10px;
}
.side-nav li a span{
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    display: inline-block;
    border: 2px solid #b8bdc4;
}

.poc-wrapper{
    height: 20vh; 
    background-color: #f9f9f9;
}
.our-clients{
    background-color: #ffffff;
}
.clients-carousel img{
max-width: 180px;
}
.clients-carousel .client{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;     
    margin: 1rem;     
}