@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap'); 
:root{
  --ind-bg:#0c1b33;
}

.industry-wrapper{
  --ind-bg:#0c1b33;  
  height: 93vh;
    width: 100%;     
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color:var(--ind-bg);     
}
/* .industry-wrapper .bg-title-dark{
    font-size: 5rem;    
} */

#industryInner{
  opacity: 0;
}
#introSlides{
  opacity: 0;
}
.ind-hero-title{
  /* color:#f4f4f4; */
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);      
  /* font-family: 'Bungee Outline', cursive; */
  font-family: 'Archivo Black', sans-serif;
  font-size: 6.5rem;
 color:#f4f4f4;
}
.industry-letter{
    font-size: 3rem;
    text-align: right;
    font-family: 'Monoton', cursive;
    margin-right: 10px;
  }
  .industry-body{
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
  }
  .industry:hover .industry-letter,.industry.active .industry-letter{
    color: #fff;   
  }
  .industry{
    padding:0;
  }
  .industry .industry-title{
    color: #3c3c42;
    margin-left: 10px;
  }
  .industry:hover .industry-title,.industry.active .industry-title{
    color: #fff;   
  }
  .industry.active{
    box-shadow: 14px 14px 35px -8px rgba(0, 0, 0,0.1);
    border: 1px solid #02A9EA;
    background-color: #02A9EA;
    color: #fff;
  }
  .industry-col-2{
    align-self: center;
  }
  /* industry card border */
  /* .line,.line-2 {
    position: absolute;
    box-sizing: border-box;             
    background-color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0;
  } */
   .line {
    position: absolute;
    box-sizing: border-box;             
    background-color: #fff;
    display: inline-block;
  }
   .top-line{
    height: 3px;
    width: 0%;
    top: 1.5%;
    left:1.5%;
       
  }
  .right-line{ 
    top: 1.5%;
    right:1.5%;                             
    width: 3px;
    height: 0%;   
  }
  .bottom-line{
    bottom: 1.5%;
    right: 1.5%;     
    height: 3px;
    width: 0%;
  }
  .left-line{
    left: 1.5%;
    bottom: 1.5%;     
    width: 3px;
    height: 0%;
  }
  .ind-content{
    display: none;
    padding-left:3rem;
  }
  .ind-content h2{
    font-size: 2.2rem;
    color: #02A9EA;
    font-weight: 600;
  }
  .ind-content p{
    font-size: 1.2rem;
    color: #3c3c42;
  }
  .ind-content.active{
    display: block;
  } 
  #industryInner .col-12{
    padding: 5px;     
  }
  