
/* ! Contact Modal */
.contact-wrapper {
  color: #fdfff5;
  background-color: #16213d;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: 1200;
  overflow: hidden;
  background-image: url("../../img/contact/c-banner-2.jpg");
  background-size: cover; 
  display: flex;
}
.contact-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      45deg,
      rgba(22, 32, 60, 0.7) 40%,
      rgba(22, 32, 60, 0.7) 100%
    ),
    linear-gradient(
      to top,
      #16213d 12%,
      transparent,
      transparent,
      transparent 100%
    );

  z-index: -1;
}
.contact-inner {
  z-index: 99;
  justify-content: space-evenly !important;
}
.contact-wrapper h2 {
  color: #f9f9f9;
}
.contact-wrapper .form-group .form-control:focus {
  box-shadow: none;
}

.contact-wrapper .contact-info a {
  text-decoration: none;
  color: #b8bdc4;
}
.contact-wrapper .contact-info a:hover {
  color: #00bdd5;
}
.contact-info .social-network .fab:hover {
  color: #00bdd5;
}
.contact-wrapper .form-group {
  margin: 0.5rem 0;
}

.contact-wrapper .form-control:focus,
.contact-wrapper .form-control:valid {
  background: hsl(217, 62%, 16%);
  border: 1px solid #f9f9f9;
}
.contact-wrapper .form-control.is-invalid:focus,
.contact-wrapper .was-validated .form-control:valid:focus {
  background: hsla(143, 100%, 28%, 0.039) !important;
  border-bottom: 1px solid #008d36 !important;
  box-shadow: none;
}
.contact-wrapper .form-control.is-invalid:focus,
.contact-wrapper .was-validated .form-control:invalid:focus {
  background: hsla(354, 70%, 54%, 0.039) !important;
  border-bottom: 1px solid #dc3545 !important;
  box-shadow: none;
}

/* .contact-wrapper label {
  color: #b8bdc4;
  font-size: 1rem;
  font-weight: normal;
  padding-left: 10px;
} */
.contact-wrapper .required{
  color: #ff6347;
}
.contact-wrapper .form-control {
  border: none;
  color: #f9f9f9;
  font-size: 1.4rem;  
  border-bottom: 1px solid hsl(217, 62%, 25%);
  background-color:hsl(217, 62%, 16%);  
  border-radius: 0.5rem;
  padding: 1.8rem 0.8rem; 
}
 
.floating-label {
    position: relative !important;
}

.floating-label label {  
    left: 8px;
    position: absolute;
    top: 0; 
    opacity: 0;
    transition: all 0.2s;

}
/* .floating-label label::before
{
  content: '';
  height: 50%;
  width:100%;
  background-color: #16213d;
  bottom: 0;
}  */

.floating-label input:not(:placeholder-shown){
border: 1px solid rgba(249, 249, 249,0.5);
}

.floating-label input:not(:placeholder-shown) + label,
.floating-label textarea:not(:placeholder-shown) + label {
     background-image:  linear-gradient(
      to top,
      hsl(217, 62%, 16%) 50%,
      transparent,
      transparent,
      transparent 100%
    );
    transform: translate(0, -50%) !important;
    opacity: 1 !important;
    color: #f9f9f9;
    margin: 0;
    margin-left:0.4rem;
    padding: 0 0.4rem;
}



.contact-wrapper .social-network {
  margin: 0;
}
.contact-wrapper .social-network li {
  list-style-type: none;
  margin: 0 5px;
}
.contact-wrapper .contact-title {
  font-size: 3rem;
  font-family: "Playfair Display";
  line-height: 1.3;
}
.contact-wrapper .contact-caption {
  font-size: 1.4rem;
  font-style: italic;
  color: #fdfff5 !important;
}

/* Todo - check it later */
#contactClose {
  position: absolute;
  right: 50px;
  top: 50px;
  border: none;
  color: #fff;
  background: hsl(217, 62%, 18%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  font-size: 1.5rem;
  height: 55px;
  width: 55px;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  z-index: 1020;
}
#contactClose:focus {
  box-shadow: none;
}
#contactClose:hover {
  color: #0c1b33;
  background: #ff6347;
  transition: all 0.2s ease-in-out;
}
#contactClose .fas {
  font-size: 1.5rem;
}

.contact-wrapper ::placeholder {
  /* color:hsl(217, 62%, 30%) !important; */
  color:#f9f9f9;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.contact-wrapper input::-webkit-outer-spin-button,
.contact-wrapper input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}
.status-alert {
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  position: absolute;
  z-index: 1000;
  background-color: rgba(22, 33, 61, 0.9);
  color: #0c1b33;
  margin: 0 auto;
  border-radius: 1rem;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fdfff5;
  display: none;
}
.status-alert.show {
  display: flex;
}
.status-alert .fa-check {
  color: #00bdd5;
  font-size: 2.5rem;
}
.status-alert h4 {
  font-size: 2rem;
}
.status-alert p {
  font-style: italic;
}
.invalid-feedback {
  margin: 0;
  font-size: 80%;
}
  .invalid-feedback {
    display:block !important;
    opacity: 0 !important;
 
}
.is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip {
    opacity: 1 !important;
}
/* ============================================
                  NEW
            -----------------*/

/* .swap{
  flex-direction: row-reverse;
} */

/* ============================================  */

/* =========== MEDIA QUERIES ============ */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .contact-wrapper {
    overflow: auto !important;
  }

  #contactClose {
    top: 2px;
    right: 2px;
        height: 50px;
    width: 50px;
  }
  .contact-title {
    font-size: 2.2rem !important;
  }
  .contact-caption {
    font-size: 1rem !important;
  }
  .contact-wrapper .form-group {
    margin-bottom: 0.2rem !important;
  }
  .contact-wrapper label {
    font-size: 14px;
  }
  .contact-wrapper input {
    font-size: 16px !important;
  }
  #contactsubmit {
    margin-top: 2rem;
  }
  .contact-title {
    font-size: 30px !important;
  }
  .contact-caption {
    font-size: 16px !important;
  }
  .contact-text {
    margin-bottom: 30px;
  }
}
