
/* ! Contact Modal */
#appForm {
        display: none;
        overflow: hidden;
}
#appForm .form-group {
  margin-bottom: 1rem;
  border: 1px solid #9e9e9e30;
  border-left: 2px solid black;
/* padding: 15px 4px; */
background-color: #f9f9f9;
}
#appForm label{
        color: #01626e;
        padding-left: 10px;
        margin-bottom: 0px;
}
#appForm .form-control{
        border: none;
        color: black;
        height: 50px;
        font-size: 20px;
        font-weight: 400;
}
#appForm .form-control:focus label{
        color: red;
}
#appForm .btn{
        height: 70px;
        border-radius: 0px;
        font-size: 20px;
        color: white;
        background: #00BCD4;
        transition: all .1s ease-in-out;
}
#appForm .btn:hover{
        font-size: 22px !important;
        transition: all .2s ease-in-out;
}
.contact-wrapper{       
        margin-top: 60px;
        position: relative;
}
#contactClose{
        position: absolute;
        top: 0px;
        right: 0px;
        border: none;
        font-size: 20px;
        height: 50px;
        width: 50px;
        color: #01626e;
        background: #e0e8e8;
        border-bottom-left-radius: 50px;      
}
#contactClose:focus{
        /* box-shadow: none; */
        /* border: none; */
        outline: none;
}


#contactClose .fas{ 
        position: absolute;
        top: 10px;
        left: 20px;
}


.contact-wrapper .social-network li{
        list-style-type: none;
        margin: 5px 12px;
}
    /* .contact-btn{
        ba
    } */
.form-control{
      color: none;
      background: none !important;
      outline: 0 !important;
      box-shadow: none !important;
}        
.contact-info .info{
        background: #f1f1f16b;
        width: 300px;
        margin: 10px 0px;
        padding: 10px;
        text-align: center;
        cursor: pointer;
}
.contact-info a{
        color: #333;
        font-weight: 400;
        text-decoration: none;
}
.contact-info .info i{
        font-size: 30px;
        color: #01626e;
        margin: 10px;
}
.contact-info .info blockquote{
        font-size: 15px;
        color: #fff;
        padding: 10px;
        background: #01626e;
}
.social-links a{
        color: #01626e;
        font-size: 20px;
}