/* ! Contact Modal */ 
.contact-wrapper {     
    color:#b5caee;
    background-color: #0c1b33;     
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0;
    display: block;
    z-index: 1200;          
    overflow:hidden;
    background-image: url('../../img/c-banner-2.jpg');
    background-size: cover;
}
.overlay {
  position: absolute;
  top: 0;
  z-index: 10;
  width:100%;
  height: 100%;    
background-color: rgba(12, 27, 51,0.7); 
}
.contact-inner{
  z-index: 99;
}
.contact-wrapper h2{
  color:#f9f9f9;
} 
.contact-wrapper .form-group .form-control:focus{
    box-shadow: none;
}
.contact-wrapper .form-control{
    border-radius: 0;
} 
.contact-wrapper .contact-info a{
    text-decoration: none;     
    color:#b5b5b5;     
}
.contact-wrapper .contact-info a:hover{
  color: #00bdd5;
}
.contact-info .social-network .fab:hover{
  color: #00bdd5;
}
.contact-wrapper .form-group {
    margin-bottom: 1rem;
  }
 
  .contact-wrapper .form-control:focus,
  .contact-wrapper .form-control:valid{
  /* .contact-wrapper .form-control:invalid{ */
    background: hsl(217, 62%, 16%);
    border-bottom: 1px solid rgba(204, 204, 204, 0.404);
  }
  .contact-wrapper .form-control.is-invalid:focus,
  .contact-wrapper .was-validated .form-control:valid:focus{
    background: hsla(143, 100%, 28%, 0.039) !important;
    border-bottom: 1px solid #008d36 !important;
    box-shadow: none;
  }
  .contact-wrapper .form-control.is-invalid:focus,
  .contact-wrapper .was-validated .form-control:invalid:focus{
    background: hsla(354, 70%, 54%, 0.039) !important;
    border-bottom: 1px solid #dc3545 !important;
    box-shadow: none;
  }
  
  .contact-wrapper label{
    color:#f9f9f9;
    font-size: 1rem;
    font-weight: normal;
    padding-left: 10px;
  }
  .contact-wrapper label span{
    color: #ff6347;
  }
  .contact-wrapper .form-control{
    border: none;
    color: #fff;     
    font-size: 1.4rem;     
    background-color:rgba(17, 39, 74,0.8);
    /* border-bottom:1px solid hsl(217, 62%, 16%); */
  }
   .contact-wrapper .social-network{
    margin: 0;
  }
  .contact-wrapper .social-network li{
      list-style-type: none;
      margin: 0 5px;
  }
   
 

  /* Todo - check it later */
  #contactClose{
    position: absolute;     
    right:50px;
    top:50px;
    border: none;
    color: #fff;    
    background:hsl(217, 62%, 18%);     
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-size: 1.5rem;     
    height: 55px;
    width: 55px;
    padding: 1rem;     
    box-sizing: border-box;
    border-radius: 0.5rem;
    z-index: 99;
  }
  #contactClose:focus{
      box-shadow: none;
  }
  #contactClose:hover{
    color:#0c1b33;
    background: #ff6347;
    transition: all 0.2s ease-in-out;    
  }
  #contactClose .fas{ 
    font-size: 1.5rem;     
  }

  .contact-wrapper ::placeholder {
    color:hsl(217, 62%, 30%) !important;
  }
  .contact-wrapper input::-webkit-outer-spin-button,
  .contact-wrapper input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;  
}
  /* =========== MEDIA QUERIES ============ */
  
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .contact-wrapper{
    overflow: auto;
  }
  #contactClose{
    top: 0;
    right: 0;
  }
 }