/* ! Contact Modal */ 
.contact-wrapper {     
  color:#b5caee;
    background-color: #0c1b33;     
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0;
    display: block;
    z-index: 1200;          
    overflow-y: scroll;
}

.contact-wrapper h2{
  color:#b5caee;
} 
.contact-wrapper .form-group .form-control:focus{
    box-shadow: none;
}
.contact-wrapper .form-control{
    border-radius: 0;
} 
.contact-wrapper .contact-info{     
    text-align: center;
    display: flex;
    justify-content: center;
}  
.contact-wrapper .contact-info i{
    font-size: 1.1rem;
    /* color: #17bb51; */
    color:hsl(217, 62%, 52%);
    margin-right: 0.8rem;  
} 
.contact-wrapper .contact-info a{
    text-decoration: none;     
    display: flex;     
    align-items: center; 
}

.contact-wrapper .contact-info p{
    margin: 0;
    color:#b5caee;
    font-size: 1.3rem;
    text-align: left;     
}
  
/* .contact-info .mail{
    font-size: 24px;
} */
  
  .contact-wrapper .form-group {
    margin-bottom: 1rem;
  }
 
  .contact-wrapper .form-control:focus,
  .contact-wrapper .form-control:valid{
  /* .contact-wrapper .form-control:invalid{ */
    background: #0a0e186c;
    border-bottom: 1px solid rgba(204, 204, 204, 0.404);
  }
  .contact-wrapper .form-control.is-invalid:focus,
  .contact-wrapper .was-validated .form-control:valid:focus{
    background: hsla(143, 100%, 28%, 0.039) !important;
    border-bottom: 1px solid #008d36 !important;
    box-shadow: none;
  }
  .contact-wrapper .form-control.is-invalid:focus,
  .contact-wrapper .was-validated .form-control:invalid:focus{
    background: hsla(354, 70%, 54%, 0.039) !important;
    border-bottom: 1px solid #dc3545 !important;
    box-shadow: none;
  }
  
  .contact-wrapper label{
    color:#b5caee;
    font-size: 1rem;
    font-weight: normal;
    padding-left: 10px;
  }
  .contact-wrapper .form-control{
    border: none;
    color: #fff;     
    font-size: 1.5rem;     
    background-color: transparent;
    border-bottom:1px solid hsl(217, 62%, 16%);
  }
  
  .contact-wrapper .btn{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    font-size:1.5rem;
    color: #04a7bd;     
    background: rgba(0, 187, 212, 0.096);
    transition: all .2s ease-in-out;
  }
  .contact-wrapper .btn:hover{
    background: rgba(0, 187, 212, 0.06);
    transition: all 0.2s ease-in-out;
  }
  .contact-wrapper .social-network{
    margin: 0;
  }
  .contact-wrapper .social-network li{
      list-style-type: none;
      margin: 2px 4px;
  }
  .contact-wrapper .social-network  li a i{       
      font-size: 1.5rem;
  }
 

  /* Todo - check it later */
  #contactClose{
    position: absolute;
    /* right: -80px; */
    right:50px;
    top:50px;
    border: none;
    color: #fff;
    
    background:hsl(217, 62%, 18%);     
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-size: 1.5rem;     
    height: 55px;
    width: 55px;
    padding: 1rem;     
    box-sizing: border-box;
    border-radius: 0.5rem;
  }
  #contactClose:focus{
      box-shadow: none;
  }
  #contactClose:hover{
    color:#0c1b33;
    background: #ff6347;
    transition: all 0.2s ease-in-out;    
  }
  #contactClose .fas{ 
    font-size: 1.5rem;     
  }

  .contact-wrapper ::placeholder {
    color:hsl(217, 62%, 20%) !important;
  }
  .contact-wrapper input::-webkit-outer-spin-button,
  .contact-wrapper input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;  
}
  /* =========== MEDIA QUERIES ============ */
  
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .contact-wrapper{
    overflow: auto;
  }
  .contact-inner .display-4{
  padding-top: 2rem;
  font-size: 40px;
  }
  /* .contact-inner p:first-child{
    color: red !important;
    margin-bottom: 50px;
  } */
  .contact-inner label{
    font-size: 16px !important;
  }
  .contact-inner .form-control{
    font-size: 21px !important;
  }
 }