.footer{
  background-color: #f2f3f9;
}
.footer a,
.footer p {
  font-size: 1.05rem;
  color: #333;
  font-weight: 500;
  text-decoration: none;
}
.f-link a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-link .fas {
  /* border-radius: 50px;
  background: #eef0f1;
  box-shadow: -5px 5px 10px #cacccd, 5px -5px 10px #ffffff;
  height: 30px;
  width: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
/* .f-link:hover .fas {
  border-radius: 50px;
  background: linear-gradient(225deg, #d6d8d9, #ffffff);
  box-shadow: -5px 5px 10px #cacccd, 5px -5px 10px #ffffff;
} */
.f-link a:hover {
  color: #111;
  font-weight: 600;
}

/* Footer Follow Us */
.footer .social-network li {
  list-style-type: none;
}

.footer .social-network a {
  font-weight: 600;   
  margin: 0 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  transition: all 0.2s ease-in;
  /* border-radius: 50px;
  background: linear-gradient(225deg, #d6d8d9, #ffffff);
  box-shadow: -5px 5px 10px #cacccd, 5px -5px 10px #ffffff; */
}

.footer .social-network a:hover {
  /* border-radius: 50px; */
  /* background: linear-gradient(225deg, #ffffff, #e6e6e6);
  box-shadow: -5px 5px 10px #d9d9d9, 5px -5px 10px #ffffff;
  transition: 0.2s all ease-in; */
}
.footer .social-network .fab{
font-size: 1.2rem;
margin: 0 5px;
}
.footer .social-network .fa-facebook-f{
color: #4267B2;
}
.footer .social-network .fa-twitter{
color:#1DA1F2;
}
.footer .social-network .fa-instagram{
  color:#C13584;
  }

  .footer .social-network .fa-linkedin-in{
    color:#2867B2
    }
.footer .copyright {
  margin: 0;   
  text-align: center;
  font-size: 1rem;  
}
.footer-col{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}