/* ! Navbar */
.master-navbar {
  z-index: 9999;
  /* todo - for gsap animation */
}

/* todo - for gsap animation */
#main .master-navbar {
  opacity: 0;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -65px;
  }
}
.master-navbar {
  background-color: #ffffff !important;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.05);
}
.master-navbar .navbar-brand img {
  max-width: 150px;
}
.master-navbar .nav-link {
  margin-left: 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0.5rem;
}
.master-navbar .nav-link {
  color: #525252 !important;
}

.master-navbar .active .nav-link {
  font-weight: 600;
  color: #00bdd5 !important;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: #00bdd5 !important;
}
.navbar-nav .show > .nav-link {
  color: #00bdd5 !important;
}
.master-navbar .dropdown-menu {
  margin-top: 6px;
  background-color: #ffffff;
  border-radius: 0;
  padding: 0;
  animation: dropdown 0.3s ease-out;
  box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.03),
    0 0.275rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.06) !important;
}
@keyframes dropdown {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.dropdown .dropdown-menu {
  min-width: 230px;
}
.dropright .dropdown-toggle::after {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.35 !important;
}
.dropdown-item.active::after {
  opacity: 1 !important;
}
.master-navbar .dropdown-submenu {
  position: relative;
}

.master-navbar .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100.5%;
  margin-top: 0px;
  margin-left: 0px;
  background-color: #ffffff;
}
.master-navbar .dropdown-menu .dropdown-item {
  padding: 0.6rem 1rem;
  color: #525252;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.master-navbar .dropdown-menu .dropdown-item:hover {
  box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.05),
    0 0 15px rgba(0, 0, 0, 0.04);
  color: #00bdd5 !important;
  font-weight: 600;
  background-color: #fdfff5;
  padding: 0.8rem 1rem;
}
.dropdown-item.active {
  padding: 0.8rem 1rem !important;
}
.dropdown-submenu a.active {
  background-color: #ffffff;
  color: #00bdd5 !important;
  font-weight: 600;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.05),
    0 0 15px rgba(0, 0, 0, 0.04);
}
.dropdown-submenu > a {
  position: relative;
}
.master-navbar .navbar-toggler:focus {
  outline: none;
}
/* #home .master-navbar{
    opacity: 0; 
  }
  
  .no-js .master-navbar{
    opacity: 1;
  }
  #home .navbar-brand img{
    opacity: 0; 
  }
  
  .no-js .navbar-brand img{
    opacity: 1;
  }
  */

/* ! Hamburger icon for mobile menu */
/* Hamburger Icon for Mobile Menu */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger[aria-expanded="true"]:hover {
  opacity: 0.7;
}
.hamburger[aria-expanded="true"] .hamburger-inner,
.hamburger[aria-expanded="true"] .hamburger-inner::before,
.hamburger[aria-expanded="true"] .hamburger-inner::after {
  background-color: #525252;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #525252;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*Hamburger Icon Squeeze */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze[aria-expanded="true"] .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze[aria-expanded="true"] .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze[aria-expanded="true"] .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (max-width: 576px) {
  .navbar-nav .nav-item {
    border: 1px solid #f8f8ff;
    margin: 3px 0 !important;
  }
}
