.loading-wrapper {     
  border: 2px solid red;
}
.loading-wrapper img{
  position: relative;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
} 
/* ! Navbar */
#masterNavbar{
  z-index: 1001;
  background-color: #05070c;
  opacity: 0;
}
.no-js #masterNavbar{
  opacity: 1;
}
.navbar-brand img{
    max-width: 160px;
    opacity: 0;     
}
.no-js .navbar-brand img{
  opacity: 1;
}

#masterNavbar .nav-link{
    margin-left: 1.2rem;
    color: #b8bdc4;
    font-size: 1.2rem;
}

#masterNavbar .active .nav-link {
    font-weight: 500;
    color: #00bdd5;
}

#masterNavbar .nav-link:hover{
color:#00bdd5;
}
#masterNavbar .dropdown-menu{
    margin-top: 16px;
    background-color:hsl(223, 41%, 6%);
}

#masterNavbar .dropdown-submenu {
    position: relative;
    
  }
   
  #masterNavbar .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
    background-color:hsl(223, 41%, 5%);
    border-radius: 0;     
  }
  #masterNavbar .dropdown-menu .dropdown-item {
  padding: 0.6rem 1.5rem;
  color: #b8bdc4;
  }
  #masterNavbar .dropdown-menu .dropdown-item:hover { 
    background-color:hsl(223, 41%, 15%);
    color: #eef0f1;
  }
  .dropdown-submenu a.active{
    background-color:hsl(223, 41%, 15%);
    color: #fff;
  }
  .dropdown-submenu>a{
      position: relative;
  }
  .dropdown-submenu>a{
      margin-left: 1rem;
  }
  /* .dropdown-submenu>a.active:after {
    content: "\f0da";
 
    border: none;
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
  } */