/* ! Navbar */
.master-navbar{   
  background-color:var(--bg-color);      
} 
.master-navbar .navbar-brand img{
 
    max-width: 170px;        
}
.master-navbar .nav-link{
    margin-left: 1.4rem;
    color: #b8bdc4;
    font-size: 1.1rem;
}

.master-navbar .active .nav-link {
    font-weight: 500;
    color: #00bdd5;
}

.master-navbar .nav-link:hover{
color:#00bdd5;
}

.master-navbar .dropdown-menu{
    margin-top: 16px;
    background-color:hsl(223, 41%, 6%);
    border-radius: 0;
}

.master-navbar .dropdown-submenu {
    position: relative;    
  }
   
  .master-navbar .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
    background-color:hsl(223, 41%, 5%);
    border-radius: 0;     
  }
  .master-navbar .dropdown-menu .dropdown-item {
  padding: 0.6rem 1.5rem;
  color: #b8bdc4;
  }
  .master-navbar .dropdown-menu .dropdown-item:hover { 
    background-color:hsl(223, 41%, 15%);
    color: #eef0f1;
  }
  .dropdown-submenu a.active{
    background-color:hsl(223, 41%, 15%);
    color: #fff;
  }
  .dropdown-submenu>a{
      position: relative;
  } 
.master-navbar .navbar-toggler:focus{
  outline: none;
}
  /* #home .master-navbar{
  opacity: 0; 
}

.no-js .master-navbar{
  opacity: 1;
}
#home .navbar-brand img{
  opacity: 0; 
}

.no-js .navbar-brand img{
  opacity: 1;
}
*/

/* ! Hamburger icon for mobile menu */
/* Hamburger Icon for Mobile Menu */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger[aria-expanded="true"]:hover {
  opacity: 0.7;
}
.hamburger[aria-expanded="true"] .hamburger-inner,
.hamburger[aria-expanded="true"] .hamburger-inner::before,
.hamburger[aria-expanded="true"] .hamburger-inner::after {
  background-color: #f9f9f9;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #f9f9f9;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*Hamburger Icon Squeeze */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze[aria-expanded="true"] .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze[aria-expanded="true"] .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze[aria-expanded="true"] .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}