/* ! COLOR CODES  */    
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
/* dbdbdb */
:root{      
    --bg-dark:#0c1b33;
    --bg-light:#f2f3f9;
    --text-light:#b8bdc4;
    --logo-blue:#00bdd5;
}
 
.loading-wrapper{
    height: 100vh;
    width: 100%;
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;         
    z-index:1250;
    background-color: transparent;    
}
.loading-inner{
  display: flex;
  height: 100%;
}
.loading-wrapper .left, .loading-wrapper .right{
flex: 1; 
position: relative;
background-color:hsl(217, 62%, 12%);
}
.loading-wrapper img{
    vertical-align: middle;
    border-style: none;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 350px;
}

body{
    padding-top:64px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;          
    background-color:var(--bg-dark);         
}

.banner-title-1,.banner-title-2{
  color: #e5e5e5;
  font-family: 'Playfair Display';
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 5px;  
}

.banner-title-1{
font-size: 4rem;
}
.banner-title-2{
font-size: 3rem;
}

.title-light{
  color: #dbdbdb;
}
.title-dark{
  color: #0c1b33;
}
.title-white{
  color: #fff;
}
.section-title-1{
  font-size: 6rem;
  font-weight: 700;
}
.section-title-2{
 font-size: 3rem;
 font-weight: 600;
}
.section-title-3{
  font-size: 2.2rem;
  font-weight: 500;
}

/* border line animation */
.line {
    position: absolute;
    box-sizing: border-box;             
    background-color: #fff;
    display: inline-block;
  }
   .top-line{
    height: 2px;
    width: 0%;
    top: 1.5%;
    left:1.5%;
       
  }
  .right-line{ 
    top: 1.5%;
    right:1.5%;                             
    width: 2px;
    height:0%;   
  }
  .bottom-line{
    bottom: 1.5%;
    right: 1.5%;     
    height: 2px;
    width: 0%;
  }
  .left-line{
    left: 1.5%;
    bottom: 1.5%;     
    width: 2px;
    height: 0%;
  }
 /* end - border line animation */

 /* buttons */
  .btn-primary{
    /* background-color:#e8e9f0; */
    border-radius: 1.5rem;
    /* color:#0c1b33; */
    /* border-color: #e8e9f0; */
    font-weight: 600;
    padding:2.2rem 1.5rem;
  }

  .btn-secondary{
    background-color: hsl(217, 62%, 18%);
    border-radius: 1.5rem;
    color: #b8bdc4;
    /* border:2px solid hsl(217, 62%, 30%); */
    border: none !important;
    font-weight: 600;
    padding:0.5rem 3rem;
  }
  .btn-secondary:hover{
    background-color: hsl(217, 62%, 24%);
  }
  .btn-secondary:active,.btn-secondary:foucs{
    background-color: hsl(217, 62%, 20%);
  }

  .btn-contact{
    border-color:hsl(217, 62%, 16%);
    background-color: #00bdd5;
    color: #0c1b33;     
    border: none;
  }

  .btn-contact:hover{
     
    background-color: hsl(187, 100%, 52%);
    color: #0c1b33;     
    border-color: hsl(187, 100%, 22%);
  }