/* ! COLOR CODES  */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
/* dbdbdb */
:root {
  --bg-dark: #0c1b33;
  --bg-light: #f2f3f9;
  --text-light: #b8bdc4;
  --logo-blue: #00bdd5;
  --black-2: #20263b;
  --black-3: #363c4f;
  --black-4: #4c5162;
  --black-5: #636776;

  --color-1: #16213d;
  --color-1-1:#33379c;
  --color-2: #a0a5b0;
  --coloro-3: #00bdd5;
  --color-4: #303030;
  --color-5: rgba(10, 10, 10, 0.2);
  --color-6: #3a2e28;
  --color-7: #525252;
  --color-8: #767676;
  /* fdfff5, f9f8f0 #f8f8ff*/
}

/* .loading-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1250;
  background-color: transparent;
}
.loading-inner {
  display: flex;
  height: 100%;
}
.loading-wrapper .left,
.loading-wrapper .right {
  flex: 1;
  position: relative;
  background-color: hsl(217, 62%, 12%);
}
.loading-wrapper img {
  vertical-align: middle;
  border-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
} */

body {
  padding-top: 65px;
  background-color: #ffffff;
  scroll-behavior: smooth;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;   
}

.banner-title-1,
.banner-title-2 {
  color: #f8f8ff;
  font-family: "Playfair Display";
  line-height: 1.3;
  
  letter-spacing: 5px;  
}

.banner-title-1 {
  font-size: 4rem;
  font-weight: 600;
}
.banner-title-2 {
  font-size: 3rem;
  font-weight: 500;
}

.title-light {
  color: #dbdbdb;
}
.title-dark {
  color: #20263b;
}
.title-white {
  color: #fff;
}
.section-title-bg {
  font-size: 6.5rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}
.title-1, .title-2, .title-3{
  font-weight: 400; 
}
.title-1 { 
  font-size: 3rem;   
}
.title-2 { 
  font-size: 2rem;   
}
.title-3{
  font-size: 1.5rem;
}
.text-1{
  font-size: 1.4rem;
}
.text-2{
  font-size: 1.2rem;
}
.text-3
{
  font-size: 1rem;
}
/* border line animation */
.line {
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  display: inline-block;
}
.top-line {
  height: 2px;
  width: 0%;
  top: 1.5%;
  left: 1.5%;
}
.right-line {
  top: 1.5%;
  right: 1.5%;
  width: 2px;
  height: 0%;
}
.bottom-line {
  bottom: 1.5%;
  right: 1.5%;
  height: 2px;
  width: 0%;
}
.left-line {
  left: 1.5%;
  bottom: 1.5%;
  width: 2px;
  height: 0%;
}
/* end - border line animation */

.button,
.service-contact {
  display: inline-block;
  padding: 0.6em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  outline: none;
  /* box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17); */
}

.button-dark,
.service-contact {
  background-color: hsl(217, 62%, 18%);
  border: 0.16em solid hsl(231, 37%, 36%);
  color: #ffffff;
}
.button-light {
  background-color: #f2f3f9;
  border: 0.16em solid rgba(12, 27, 51, 0.8);
  color: #0c1b33;
}
.button-blue {
  background-color: #00bdd5;
  color: #0c1b33;
  border: 0.16em solid hsl(231, 37%, 36%);
  font-weight: 500;
}
.service-contact {
  margin-left: 1.5rem;
  padding: 0.5em 1.5em !important;
  color: #dbdbdb;
  font-weight: 500;
}
.button-light:hover {
  border: 0.16em solid #b8bdc4;
}
.button-blue:hover {
  border-color: #f2f3f9;
}
.service-contact:hover {
  text-decoration: none;
  color: #ffffff;
  border: 0.16em solid hsl(217, 62%, 62%);
}
.button-dark:hover {
  border: 0.16em solid #f2f3f9;
  color: hsl(217, 62%, 75%);
  text-decoration: none;
}
@media (max-width: 576px) {
  .banner-title-1 {
  font-size: 2.2rem;
  font-weight: 600;
}
.banner-title-2 {
  font-size: 2rem;
  font-weight: 500;
}
 
.section-title-bg {
  font-size: 4.5rem;   
}
 
.title-1 { 
  font-size: 2.2rem;   
}
.title-2 { 
  font-size: 1.8rem;   
}
.title-3{
  font-size: 1.2rem;
}
}
