/* ! COLOR CODES  */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Diplomata+SC|Jacques+Francois+Shadow|Londrina+Outline|Ribeye+Marrow|Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
:root{
    --color-1:#0b0c13;
    --color-2:#575866;
    --color-3:#71788a;
    --color-4:#eeeef0;
    --color-5:#c0bcc3;

    /*  */
    --color-2-1:#05070c;
    --color-2-2:#3c3c42;
    --color-2-3:#96969c;
    --color-2-4:#5d5c63;
    --color-2-5:#b8bdc4;
    --color-2-6:#eef0f1;
    /*  */
    --color-3-1:#04ffd4;
    --color-3-2:#045e52;
    --color-3-3:#00C9A7;
    --color-3-4:#3fe1c9;
    --color-3-5:#17bb51;
    /*  */

    --color-4-1:#f9f9f9;
    --color-4-2:#0b0b0b;
    --color-4-3:#bebec0;
    --color-4-4:#3f3f40;
    --color-4-5:#7f7f80;
    --color-4-6:#272b48;
    --color-4-7:#9399ab;
    --color-4-8:#656c8f;
    --color-4-9:#e8e9f0;

    /*  */

    --color-5-1:#e5e5e5;
    --color-5-2:#242a2a;
    --color-5-3:#3261d1;
}
@font-face {
    font-family: 'Replica';
    src: url('../../fonts/Replica-Bold.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Replica-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/Replica-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */          
  }
.loading-wrapper{
    height: 100vh;
    width: 100%;
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:#2f2e38;     
    z-index:999;
}
body{
    padding-top:94px;
    font-family: 'Roboto',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;     
    /* position: relative;  */
    background-color: #f9f9f9;  
    /* background-color:#05070c;       */
}
/* h1,h2,h3,h4,h5,h6{
    font-family:'Replica', sans-serif;
} */
/*  
font-family: 'Sniglet', cursive;
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Ribeye Marrow', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Diplomata SC', cursive;
font-family: 'Bungee Outline', cursive; 
*/
.bg-title{
    font-size: 7rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);         
    width: 100%;
    text-align: center;
    font-family: 'Bungee Outline', cursive; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.bg-title-light{
color:#f9f9f9;
opacity: 0.7;
}
.bg-title-dark{
color:#000000;
opacity: 1;
}

.hero-title{
    color: #05070c;
}
 
.hero-title span{
    background-color: #f4f4f4;
    display: inline-block;
    margin: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 2.5rem;
}
.hero-text{
    font-size: 1.2rem;
    color: #b8bdc4;
}
