/* ? Scroll snap styles */
body {
  height: 100vh;
  overflow: hidden !important;
}
@media (min-width: 992px) {
  .master-navbar {
    margin-right: 15px !important;
  }
}
.scroll-wrapper {
height: calc(100vh - var(--navbar-height));
scroll-snap-type: y mandatory;
overflow-y: scroll;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
height: 100%;
width: 100%;
padding-top: var(--navbar-height);
scroll-padding-top: var(--navbar-height);
}

.scroll-s {
scroll-snap-align: start;
}